{% extends "Partials/Base_lib.html" %}
{% block body %}
<section class="my-5 py-5 section-rech">
    <div class="container container-article">
      <!-- Images Filter Buttons Section
    <div class="row mt-5" id="filter-buttons">
      <div class="col-12">
        <button class="btn mb-2 me-1 active" data-filter="all">Show all</button>
        <button class="btn mb-2 mx-1" data-filter="nature">Nature</button>
        <button class="btn mb-2 mx-1" data-filter="cars">Cars</button>
        <button class="btn mb-2 mx-1" data-filter="people">People</button>
      </div>
    </div> -->
      <!-- ? Search -->
      <div class="div-search">
        <div class="input-box">
          <i class="uil uil-search"></i>

          <input type="search" placeholder="Chercher un produit" />
          <button class="button">RECHERCHER</button>
        </div>
      </div>
      <!-- ? Filterable Images / Cards Section -->
      <div class="div-cards" id="filterable-cards">
        <ul id="paginationList">
          <li>
            <div class="my-card">
              <img
                src="{{url_for('static', filename='/img/Samsung-Galaxy-A14.jpg')}}"
                alt="img"
                
              />
              <div class="body-card">
                <h6 class="">Lights! Lights! Ecommerce moi même</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
              
            </div>
          </li>
          <li>
            <div class="my-card">
              <img
                src="{{url_for('static', filename='/img/Chemises-En-Jean.jpg')}}"
                alt="img"
                
              />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
              
            </div>
          </li>
          <li>
            <div class="my-card">
              <img
                src="{{url_for('static', filename='/img/Chemises-mode-1.jpg')}}"
                alt="img"
                
              />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
              
            </div>
          </li>
          <li>
            <div class="my-card">
              <img
                src="{{url_for('static', filename='/img/mocassin-homme.jpg')}}"
                alt="img"
                
              />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img
                src="{{url_for('static', filename='/img/rizière.jpg')}}"
                alt="img"
                
              />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img
                src="{{url_for('static', filename='/img/cuisseur-riz.jpg')}}"
                alt="img"
                
              />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img
                src="{{url_for('static', filename='/img/repassage.jpg')}}"
                alt="img"
                
              />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img
                src="{{url_for('static', filename='/img/T-shirt-complet.jpg')}}"
                alt="img"
                
              />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img
                src="{{url_for('static', filename='/img/Jean-Décontractée.jpg')}}"
                alt="img"
                
              />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img
                src="{{url_for('static', filename='/img/Pull-gris.jpg')}}"
                alt="img"
                
              />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img
                src="{{url_for('static', filename='/img/Apple-IPhone-14-Pro.jpg')}}"
                alt="img"
                
              />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img
                src="{{url_for('static', filename='/img/people-2.jpg')}}"
                alt="img"
                
              />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img
                src="{{url_for('static', filename='/img/car-2.jpg')}}"
                alt="img"
                
              />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img
                src="{{url_for('static', filename='/img/nature-2.jpg')}}"
                alt="img"
                
              />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img
                src="{{url_for('static', filename='/img/car-2.jpg')}}"
                alt="img"
                
              />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img
                src="{{url_for('static', filename='/img/nature-2.jpg')}}"
                alt="img"
                
              />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img src="{{url_for('static', filename='/img/people-1.jpg')}}" alt="img" />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img src="{{url_for('static', filename='/img/people-2.jpg')}}" alt="img" />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img src="{{url_for('static', filename='/img/car-3.jpg')}}" alt="img" />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img src="{{url_for('static', filename='/img/car-2.jpg')}}" alt="img" />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img src="{{url_for('static', filename='/img/car-1.jpg')}}" alt="img" />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img
                src="{{url_for('static', filename='/img/nature-2.jpg')}}"
                alt="img"
                
              />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img src="{{url_for('static', filename='/img/nature-3.jpg')}}" alt="img" />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img src="{{url_for('static', filename='/img/nature-1.jpg')}}" alt="img" />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img src="{{url_for('static', filename='/img/nature-1.jpg')}}" alt="img" />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
          <li>
            <div class="my-card">
              <img src="{{url_for('static', filename='/img/nature-1.jpg')}}" alt="img" />
              <div class="body-card">
                <h6 class="">Lights</h6>
                <p class="">Price: $1000</p>
                <!-- <p class="">Price: $1000</p> -->
                <button type="button">Ajouter au panier</button>
              </div>
            </div>
          </li>
        </ul>
      
        <!-- <div class="div-test"></div> -->
        <!-- ! Pagination -->
        
      </div>
      <div class="pagination-container">
        <div class="pagination">
          <button class="control" id="prev" title="Previous page"><</button>
          <div class="pageNumbers">
            <!--Page Numbers-->
          </div>
          <button class="control" id="next" title="Next page">></button>
        </div>
      </div>
    </div>

  </section>
{% endblock %}
