/* acceuil */
.logo{
    height: 80px;
}

/* Page_recherche*/

.main_rech{
    width: 100%;
    height: 500px;
}
.main_rech1{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: red solid; */
}

.main_rech1_titre1{
    width: 80%;
    /* border: blue solid; */
}
.main_rech1_btn_retour{
    width:30%;
    height: 60%;
    color: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
}
.main_rech1_btn_retour a{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid black;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    background-color: rgb(199, 45, 45);
}
.main_rech1_btn_retour a:hover{
    color: red;
    background-color: #fff;
}

.main_rech2{
    width: 100%;
    height: 80%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: orange; */
}
.main_rech2_min{
    width: 80%;
    height: 100%;
    /* border: solid red; */
}
.main_rech2_min1{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: solid green; */
}
.main_rech2_min1_container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: solid blue; */
    background-color: #FFF2CC;
}
.container_champ_rech{
    width: 100%;
    height: 30%;
    /* border: red solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.rech_champ1{
    width: 47%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    padding-right: 20px;
}

.rech_champ1_L1{
    height: 60%;
    width: 60%;
}

.rech_champ1_select{
    width: 100%;
    height: 100%;
}

.rech_bouton{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: red solid; */
   

}
.rech_bouton1{
width: 40%;
height: 50px;

display: flex;
flex-direction: row;
justify-content:space-between;
align-items:center;
}
.rech_bouton1_min1{
    width:35%;
    height: 100%;
    border:solid black;
    color: #ffff;
    background-color: rgb(199, 45, 45);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.rech_bouton1_min1:hover{
    background-color: #fff;
    color: red;
}
.rech_bouton1_min2{
    width:35%;
    height: 100%;
    border:solid black;
    background-color: rgb(34, 219, 34);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.rech_bouton1_min2:hover{
    background-color: #fff;
    color: green;
}
 
/* liste repetiteur */

.main.liste{
    width: 100%;
    height: 500px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main.liste1{
    width: 90%;
    height: 60px;
    
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:start;
}
.container.liste{
    width: 80%;
    height: 315px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container.list{
    width: 100%;
    height: 300px;
   
    background-color:rgb(245, 232, 208);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container.list.min{
    width: 90%;
    height: 73px;
    border: 2px solid rgb(245, 232, 208);
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    /* border: 2px solid black; */
}
.first.min.list{
    width: 8%;
    height: 100%;
    border-radius: 100px;
    border: 2px solid black;
    background-color: rgb(169, 115, 95);
    
}
.two.min.list{
    width: 8%;
    height: 100%;
    border-radius: 100px;
    border: 2px solid black;
    background-color: rgb(169, 115, 95);
}
.three.min.list{
    width: 8%;
    height: 100%;
    border-radius: 100px;
    border: 2px solid black;
    background-color: rgb(169, 115, 95);
}
.dispo_repetiteur{
    background-color: rgb(117, 214, 117);
}
.btn_repetiteur{
    width: 12%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: solid black;
    background-color: rgb(57, 57, 154);
}
.btn_repetiteur a{
    color: #fff; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    /* border: solid red; */
    text-decoration: none;
}
.btn_repetiteur a:hover{
    background-color: #fff;
    color: blue;
}


.container.list.min2{
    width: 90%;
    height: 73px;
    border: 2px solid rgb(245, 232, 208);
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;  
}
.dispo_repetitor{
    background-color: red;
    color: #fff;
}

.rech_btn{
    width: 50%;
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid red;

}

button {
    /* font-size: 16px; */
    color: #000;
    background-color:rgb(75, 75, 189);
    width:100% ;
   
  }
  


  /* confirme recherche repetiteur disponible */

.rech_confime{
width: 100%;
height: 500px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.rech_confirme_min{
    width: 70%;
    height: 300px;
    background-color:rgb(224, 187, 119);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
} 
.rech_confirme_text{
    width: 80%;
    height: 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
