{% extends "Partials/Base_repetiteut.html" %}

{% block body %}
<h1>Mes Notifications</h1>

<div id="notifications-container">
    <!-- Les notifications seront affichées ici -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function () {
            console.log('Connexion établie avec le serveur Socket.IO');
        });

        var tutor_id = "{{id_user}}";
        console.log(typeof tutor_id);

        // Tableau pour stocker les notifications
        var notifications = JSON.parse(localStorage.getItem('notifications')) || [];

        socket.on('notification_repetiteur', function (message) {
            // Traitez le message de notification ici
            console.log('Notification reçue :', message);

            // Stockez la notification
            notifications.push(message);

            // Enregistrez les notifications dans le stockage local
            localStorage.setItem('notifications', JSON.stringify(notifications));

            // Exemple : Afficher la notification dans une boîte d'alerte
            updateNotifications(message);
        });

        // Rejoindre la salle spécifique
        socket.emit('join', { tutor_id: tutor_id });

        // Fonction pour mettre à jour la section des notifications
        function updateNotifications(notificationData) {
            console.log('Mise à jour des notifications :', notificationData);

            const notificationsContainer = document.getElementById('notifications-container');

            // Créez un élément de notification et ajoutez-le à la liste
            const notificationElement = document.createElement('div');
            notificationElement.classList.add('notification-item');
            notificationElement.innerHTML = `<p>${notificationData}</p>`;
            notificationsContainer.appendChild(notificationElement);
        }
    });
</script>

{% endblock %}