{% extends "Partials/Base_parent.html" %}
{% block body %}
    <section class="my-5 py-5 section-rech">
        <div class="container">
            <form action="">
                <div class="row">

                    <div class="colunm col-md-8 border me-5 table-responsive " style="height: 370px">
                        <div class="card row mb-3 col-md-12" >
                            <div class="card-body">
                            <h5 class="card-title">Parnier(4 articles)</h5>
                            </div>
                        </div>
                        <div class="card mb-3 col-md-12" >
                            <div class="row">
                                <div class="card col-md-9 me-5" >
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="{{url_for('static', filename='/img/why.png')}}" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                                
                                                <button type="button" class="btn btn-outline-danger col-md-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                                                    Supprimer
                                                </button>
                                                <!-- <a href="/liste_repetiteurchoix" class="btn btn-primary">Choisir</a> -->
                                                <!-- Modal -->
                                                <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="staticBackdropLabel1">Modal title</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                            ...
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                <!-- <button type="button" class="btn btn-primary">Understood</button> -->
                                                                <button type="button" class="btn btn-danger">
                                                                    Retirer
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>   
                                </div>
                                    
                                <div class="card col-md-2 my-auto" >
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com">
                                        <label for="floatingInput">Quantité</label>
                                    </div>
                                </div>
                            </div>   
                        </div>     
                    </div>
                    <div class="card border-success mb-3 col-md-3" style="max-width: 18rem;">
                        <div class="card-header bg-transparent border-success">RESUMER DU PANIER</div>
                        <div class="card-body">
                          <h5 class="card-title">Prix total: &nbsp;<strong style="font-size: 1.1em;">15000FCFA</strong></h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Eos alias blanditiis quas quasi tempora corrupti  
                            </p>
                        </div>
                        <div class="card-footer bg-transparent border-success"><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><b>COMMANDER 15000FCFA</b></button></div>
                
                            <!-- <a href="/liste_repetiteurchoix" class="btn btn-primary">Choisir</a> -->
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <!-- <button type="button" class="btn btn-primary">Understood</button> -->
                                            <button type="submit" class="btn btn-warning"><b>Cofirmer</b></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div> 
            </form>
        </div>
    </section>
{% endblock %}