<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='/img/logo_Eveil+.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/initialize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
        
    <title>Eveil+</title>
</head>
<body>
    {% include './Partials/header_index.html' %}

    {% block body %}
                
    {% endblock %}

    {% include './Partials/footer_index.html' %}
    <script src="{{url_for('static', filename='/js/bootstrap.bundle.min.js')}}" ></script>
    <script src="{{url_for('static', filename='/js/index.js')}}" ></script>
</body>
</html>