 <footer id="Apropos">
    <div class="footer_main_index">
      <div class="footer_main_index1">
        <div class="footer_main_index1_titr1"> 
          <h4>A propos de nous</h4>
        </div>
        <div class="footer_main_index1_txt">
          douleur assis amet, consectetur magna aliqua. 
          Ut enim ad minim veniam, quisdotempor incididunt r
        </div>
      </div>
      <div class="footer_main_index1">
        <div class="footer_main_index1_titr1"> 
          <h4>Lien Utile</h4>
        </div>
        <div class="footer_main_index1_txt">
          <div><a href="#">Facebook</a></div>
          <div><a href="#">Linkedln</a></div>
          <div><a href="#">Instagram</a></div>
          <div><a href="#"><a href="#">twitter</a></a></div>
        </div>
      </div>
      <div class="footer_main_index1">
        <div class="footer_main_index1_titr1"> 
          <h4>Contactez nous</h4>
        </div>
        <div class="footer_main_index1_txt">
          douleur assis amet, consectetur magna aliqua. 
          Ut enim ad minim veniam, quisdotempor incididunt r
        </div>
      </div>
      <div class="footer_main_index1">
        <div class="footer_main_index1_titr1"> 
          <h4>Newletters</h4>
        </div>
        <div class="footer_main_index1_txt_news">
          <form  class="footer_form_index"action ="#" methode="#">
            <input  class="footer_input_index" type="mail" name="#" placeholder="Entrez votre addresse mail">
            <input class="footer_input_btn" type="submit" value="S'ABONNER">
          </form>
        </div>
      </div>
    </div>
  </footer>