<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="{{url_for('static', filename='/img/logo_Eveil+.png')}}"
        alt="logo_eveilplus" class="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link p-3 me-3 active" aria-current="page" href="/accueil_repetiteur">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3 me-3" href="/recherche_repetiteur">Emploi</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link p-3 border rounded dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img
              src="{{ url_for('static', filename='uploads/images_profil_repetiteur/' + usersRepetiteur.path_PhotoProfil) }}"
              style="border-radius: 45px" class="me-2" width="25px" />
            {{usersRepetiteur.PrenomRepetiteur}} {{usersRepetiteur.NomRepetiteur}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/profil_repetiteur">Mon profil</a></li>
            <li><a class="dropdown-item" href="/liste_notification_repetiteur">Notification</a></li>
            <li><a class="dropdown-item" href="#">Mes candidatures</a></li>
            <li><a class="dropdown-item" href="#">Parents</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/deconnexion">Déconnexion</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>