 <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="../img/logo Eveil+.png" alt="">
            </div>

            <span class="logo_name">Eveilplus</span>
        </div>

        <div class="menu-items">
            
            <ul class="nav-links">
                <li><a href="/dashboard_admin">
                    <i class="fa-solid fa-house"></i>
                    <span class="link-name">Acceuil</span>
                </a></li>
                <li><a href="/messagerie">
                    <i class="fa-regular fa-message"></i>
                    <span class="link-name">Messagerie</span>
                </a></li>
                <li><a href="/accueil_parent_dash">
                    <i class="fa-solid fa-hands-holding-child"></i>
                    <span class="link-name">parents</span>
                </a></li>
                <li><a href="#">
                    <i class="fa-solid fa-business-time"></i>
                    <span class="link-name">repetiteur</span>
                </a></li>
                <li><a href="#">
                    <i class="fa-solid fa-money-bill"></i>
                    <span class="link-name">Payements</span>
                </a></li>
                <li><a href="#">
                    <i class="fa-solid fa-user"></i>
                    <span class="link-name">Profil</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a href="#">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="link-name">Logout</span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>