{% extends "Partials/Base_parent.html" %}
{% block body %}
                
    <section class="main_rech">
        <div class="main_rech1">
            <div class="main_rech1_titre"><h2>Liste des répétiteurs</h2></div>
            <div class="main_rech1_btn_retour"><a href="/recherche">RETOUR</a></div>
        </div> 
        <div class="main_rech2">
            <div class="main_rech2_min">
                <div class="main_rech2_min1">
                    <div class="main_rech2_min1_container">
                    <div class="container list min">
                        <div class="first min list"> </div>
                        <div class="nom_repetiteur"><a href="/liste_repetiteurchoix">Hugues Codeur</a></div>
                        <div class="note_repetiteur">Note: 7.5/10</div> 
                        <div class="dispo_repetiteur">Disponible</div>
                        <div class="btn_repetiteur"><a href="/liste_repetiteurchoix">CHOISIR</a></div>
                    </div>
                    <div class="container list min">
                        <div class="first min list"> </div>
                        <div class="nom_repetiteur"><a href="#">Kouassi Grace</a></div>
                        <div class="note_repetiteur">Note: 5.8/10</div> 
                        <div class="dispo_repetiteur">Disponible</div>
                        <div class="btn_repetiteur"><a href="/liste_repetiteurchoix">CHOISIR</a></div>
                    </div>
                    <div class="container list min">
                        <div class="first min list"> </div>
                        <div class="nom_repetiteur"><a href="/liste_repetiteurchoix">Traoré Jules</a></div>
                        <div class="note_repetiteur">Note: 9/10</div> 
                        <div class="dispo_repetitor">Indisponible</div>
                        <div class="btn_repetiteur"><a href="/liste_repetiteurchoix">CHOISIR</a></div>
                    </div>
                    <div class="container list min">
                        <div class="first min list"> </div>
                        <div class="nom_repetiteur"><a href="#">Yao Kevin</a></div>
                        <div class="note_repetiteur">Note: 3/10</div> 
                        <div class="dispo_repetiteur">Disponible</div>
                        <div class="btn_repetiteur"><a href="/liste_repetiteurchoix">CHOISIR</a></div>
                    </div>
                    </div>
                    
                </div>
    
                <!--CODE PAGINATION ICI-->
            </div>
        </div>
    </section>
{% endblock %}
