{% extends "Partials/Base_parent.html" %}
{% block body %}
      <section class="rech_confime">

        <div class="rech_confirme_min">
            <div class="rech_confirme_text">
            <h2>Vous êtes sur le point de choisir le répétiteur Hugues Codeur.
                Voulez-vous confirmez ?</h2>
            </div>
        </div>
         <!-- bouton -->
         <div class="rech_bouton">
            <div class="rech_bouton1">
                  <div class="rech_bouton1_min1">
                    <a href="">ANNULER</a>
                  </div>
              <div class="rech_bouton1_min2" type = "submit">
                CONFIRMER
              </div>
        
            </div>
          </div> 


      </section>
{% endblock %}






