{% extends "Partials/Base_index.html" %}
{% block body %}
<main class="main-search my-5 py-5">
  <div class="mb-4 row container-fluid">
    <div class="col-md-11 col-sm-10">
      <h2>Liste des répétiteurs</h2>
    </div>
    <div class="col-md-1 col-sm-2">
      <a href="/rechercher_testApp" class="btn btn-danger">RETOUR</a>
    </div>
  </div>

  <!-- Affichage du message s'il n'y a aucune correspondance -->
  {% if message %}
    <div class="alert alert-info" role="alert">
      {{ message }}
    </div>
  {% else %}
    <!-- Affichage de la liste des répétiteurs -->
    <section class="field-search container-fluid" id="itemperpage">
      <table>
        <thead class="">
          <tr>
            <th>Name</th>
            <th>Note</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for repetiteur in repetiteurs %}
            <tr>
              <td>
                <a href="" class="tab-a">
                  <img src="{{url_for('static', filename='/img/user_img/bruce_yapo.jpg')}}" style="border-radius: 45px"
                    class="img-thumbnail" width="45px" alt="" />
                  {{repetiteur.PrenomRepetiteur }} {{repetiteur.NomRepetiteur }}
                </a>
              </td>
              <td>10/10</td>
              <td>
                {% if repetiteur.EtatRepetiteur %}
                  <span class="btn btn-success">Disponible</span>
                {% else %}
                  <span class="btn btn-danger">Indisponible</span>
                {% endif %}
              </td>
              <td>
                <a href="/connexion" class="btn btn-primary">Choisir</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="bottom-field-search">
        <ul class="pagination-search">
          <li class="prev"><a href="#" id="prev">&#139;</a></li>
          <li class="next"><a href="#" id="next">&#155;</a></li>
        </ul>
      </div>
    </section>
  {% endif %}
</main>
{% endblock %}
