{% extends "Partials/Base_parent.html" %} {% block body %}

<section class="mes-repetiteurs">
  <div class="div-repetiteur">
    <div class="div-repetiteur-profil">
      <!-- <div class="div-repetiteur-profil-picture"></div> -->
      <div>
        <img
          src="{{url_for('static', filename='/img/user_img/bruce_yapo.jpg')}}"
          alt=""
          class="circle"
        />
        <!-- <div class="txt">TEXT</div> -->
      </div>
      <h4 class="div-repetiteur-profil-name">Gnaba Charles</h4>
    </div>
    <div class="div-repetiteur-button">
      <!-- <button class="div-repetiteur-button-button">NOTER</button> -->
      <a href="/attribuer_note"
        ><button class="div-repetiteur-button-button">NOTER</button></a
      >
      <a href="/form_paiement"
        ><button class="div-repetiteur-button-button">PAYER</button></a
      >
    </div>
  </div>
  <div class="div-repetiteur">
    <div class="div-repetiteur-profil">
      <!-- <div class="div-repetiteur-profil-picture"></div> -->
      <div>
        <img
          src="{{url_for('static', filename='/img/user_img/bruce_yapo.jpg')}}"
          alt=""
          class="circle"
        />
        <!-- <div class="txt">TEXT</div> -->
      </div>
      <h4 class="div-repetiteur-profil-name">Gnaba Charles</h4>
    </div>
    <div class="div-repetiteur-button">
      <!-- <button class="div-repetiteur-button-button">NOTER</button> -->
      <a href="/attribuer_note"
        ><button class="div-repetiteur-button-button">NOTER</button></a
      >
      <a href="/form_paiement"
        ><button class="div-repetiteur-button-button">PAYER</button></a
      >
    </div>
  </div>
  <div class="div-repetiteur">
    <div class="div-repetiteur-profil">
      <!-- <div class="div-repetiteur-profil-picture"></div> -->
      <div>
        <img
          src="{{url_for('static', filename='/img/user_img/bruce_yapo.jpg')}}"
          alt=""
          class="circle"
        />
        <!-- <div class="txt">TEXT</div> -->
      </div>
      <h4 class="div-repetiteur-profil-name">Gnaba Charles</h4>
    </div>
    <div class="div-repetiteur-button">
      <a href="/attribuer_note"
        ><button class="div-repetiteur-button-button">NOTER</button></a
      >
      <a href="/form_paiement"
        ><button class="div-repetiteur-button-button">PAYER</button></a
      >
    </div>
  </div>
  <div class="div-repetiteur">
    <div class="div-repetiteur-profil">
      <!-- <div class="div-repetiteur-profil-picture"></div> -->
      <div>
        <img
          src="{{url_for('static', filename='/img/user_img/bruce_yapo.jpg')}}"
          alt=""
          class="circle"
        />
        <!-- <div class="txt">TEXT</div> -->
      </div>
      <h4 class="div-repetiteur-profil-name">Gnaba Charles</h4>
    </div>
    <div class="div-repetiteur-button">
      <!-- <button class="div-repetiteur-button-button">NOTER</button> -->
      <a href="/attribuer_note"
        ><button class="div-repetiteur-button-button">NOTER</button></a
      >
      <a href="/form_paiement"
        ><button class="div-repetiteur-button-button">PAYER</button></a
      >
    </div>
  </div>
  <div class="div-repetiteur">
    <div class="div-repetiteur-profil">
      <!-- <div class="div-repetiteur-profil-picture"></div> -->
      <div>
        <img
          src="{{url_for('static', filename='/img/user_img/bruce_yapo.jpg')}}"
          alt=""
          class="circle"
        />
        <!-- <div class="txt">TEXT</div> -->
      </div>
      <h4 class="div-repetiteur-profil-name">Gnaba Charles</h4>
    </div>
    <div class="div-repetiteur-button">
      <a href="/attribuer_note"
        ><button class="div-repetiteur-button-button">NOTER</button></a
      >
      <a href="/form_paiement"
        ><button class="div-repetiteur-button-button">PAYER</button></a
      >
      <!-- <button class="div-repetiteur-button-button">PAYER</button> -->
    </div>
  </div>
</section>
{% endblock %}
