<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{url_for('static', filename='/img/logo_Eveil+.png')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
        <link rel="stylesheet" href="{{url_for('static', filename='/css/initialize.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
            
        <title>Eveil+</title>
        <style>
            /* Ajoutez un peu de style pour améliorer l'apparence */
            label {
                display: block;
                margin-bottom: 5px;
            }
        </style>
        <script>
            function checkPassword() {
                var password = document.getElementById("mot_de_passe").value;
                var confirmPassword = document.getElementById("confirm_mot_de_passe").value;
    
                if (password !== confirmPassword) {
                    document.getElementById("password-error").innerHTML = "Les mots de passe ne correspondent pas";
                    document.getElementById("submit-button").disabled = true;
                } else {
                    document.getElementById("password-error").innerHTML = "";
                    document.getElementById("submit-button").disabled = false;
                }
            }
        </script>
    </head>
    <body class="body_page_connx">
        <section class="section_connexion_page">
            <main class="section_inscriptionRepetiteur_page_container">
                <div class="section_inscriptionRepetiteur_container1 py-3">

                    {% with messages=get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{category}}" id="flash-message"> {{message}} </div>
                            {%endfor%}
                        {%endif%}
                    {% endwith %} 

                    <div class="form_titr_inscriptionParent"><h2> Inscription Répétiteur<h3></div>
                    <form action="{{url_for('SuccesModifProfil_rep')}}" method="post">
                        <div class="inscriptionParent_login1">
                            <input type="text" class="input" name="NomRepetiteur" placeholder="Votre Nom" value="{{usersRepetiteur.NomRepetiteur}}">
                            <input type="text" class="input" name="PrenomRepetiteur" placeholder="Votre Prenom" value="{{usersRepetiteur.PrenomRepetiteur}}">
                        </div>
                        <div class="inscriptionParent_login1">
                            <input type="text" class="input" name="lieu_hab_rep" placeholder="Votre lieu d'habitation Ex: Cocody\2 plateau" value="{{usersRepetiteur.lieu_hab_rep}}">
                            <input type="email" class="input" name="Email" placeholder="Votre email" value="{{usersRepetiteur.Email}}">
                         </div>
                         <div class="inscriptionParent_login1">
                            <input type="date" class="input" name="DateNaissance" value="{{usersRepetiteur.DateNaissance}}">
                            <input type="number" class="input" name="AnneeExperience" placeholder="Votre année d'expérience" value="{{usersRepetiteur.AnneeExperience}}">
                            <input type="hidden" name="Roles" value="Repetiteur">
                         </div>
                         <div class="inscriptionParent_login1">
                            <select name="NiveauRepetiteur" class="input">
                                <option value="{{usersRepetiteur.NiveauRepetiteur}}">{{usersRepetiteur.NiveauRepetiteur}}</option>
                                <option value="BAC">BAC</option>
                                <option value="BAC+1">BAC+1</option>
                                <option value="BAC+2">BAC+2</option>
                                <option value="BAC+3">BAC+3</option>
                                <option value="BAC+4">BAC+4</option>
                                <option value="BAC+5">BAC+5</option>
                            </select>
                            <select name="IdCompetence" class="input">
                                    <option value="{{usersRepetiteur.IdCompetence}}">{{usersRepetiteur.NomCompetence}}</option>
                                {% for Competence in Competence %}
                                    <option value="{{Competence.IdCompetence}}">{{Competence.NomCompetence}}</option>
                                {%endfor%}
                            </select>
                            <input type="hidden" name="EstActif" value="1">
                         </div>
                         <div class="inscriptionParent_login1">
                            <fieldset class="table-responsive input border rounded" style="height: 110%; ">
                                <legend> <small>Primaire:</small> </legend>
                                {% for ClassePrimaire in ClassePrimaire %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Classe[]" value="{{ ClassePrimaire[1] }}" id="ClassePrimaire{{ loop.index }}">
                                        <label class="form-check-label" for="ClassePrimaire{{ loop.index }}">
                                            {{ ClassePrimaire[1] }}
                                        </label>
                                    </div>
                                {% endfor %}
                                <legend> <small>College:</small> </legend>
                                {% for ClasseCollege in ClasseCollege %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Classe[]" value="{{ ClasseCollege[1] }}" id="ClasseCollege{{ loop.index }}">
                                    <label class="form-check-label" for="ClasseCollege{{ loop.index }}">
                                        {{ ClasseCollege[1] }}
                                    </label>
                                </div>
                            {% endfor %}
                            <legend> <small>Lycée:</small> </legend>
                                {% for ClasseLycee in ClasseLycee %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Classe[]" value="{{ ClasseLycee[1] }}" id="ClasseLycee{{ loop.index }}">
                                    <label class="form-check-label" for="ClasseLycee{{ loop.index }}">
                                        {{ ClasseLycee[1] }}
                                    </label>
                                </div>
                            {% endfor %}
                            </fieldset>
                                                          
                            <fieldset class="table-responsive input border rounded" style="height: 110%; ">
                                <legend> <small>Sciences:</small> </legend>
                                {% for MatiereSciences in MatiereSciences %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Matiere[]" value="{{ MatiereSciences[1] }}" id="MatiereSciences{{ loop.index }}">
                                        <label class="form-check-label" for="MatiereSciences{{ loop.index }}">
                                            {{ MatiereSciences[1] }}
                                        </label>
                                    </div>
                                {% endfor %}
                                <legend> <small>Litteraire:</small> </legend>
                                {% for MatiereLitteraire in MatiereLitteraire %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Matiere[]" value="{{ MatiereLitteraire[1] }}" id="MatiereLitteraire{{ loop.index }}">
                                    <label class="form-check-label" for="MatiereLitteraire{{ loop.index }}">
                                        {{ MatiereLitteraire[1] }}
                                    </label>
                                </div>
                            {% endfor %}
                            </fieldset>
                         </div>
                         <p id="errorMessage" style="color: red;"></p>
                         <input type="submit" value="VALIDER"  id="submit-button" class="btn btn-secondary py-2" style="background-color: #6ebca8; border:none; width: 20%; font-size:1.3em; font-weight: bold;">
                    </form>
                    <div class="inscriptionParent_login2">
                        <a class="btn btn-danger"  href="/profil_repetiteur">Abandonner</a>
                    </div>
                </div>
            </main>
        </section>

        <!-- <script>
            var checkboxes = document.querySelectorAll('.checkbox');
            var errorMessageElement = document.getElementById('errorMessage');
        
            // Limiter la sélection à 3 checkboxes
            checkboxes.forEach(function(checkbox) {
              checkbox.addEventListener('change', function() {
                var checkedCheckboxes = document.querySelectorAll('.checkbox:checked');
                if (checkedCheckboxes.length > 3) {
                  this.checked = false; // Désélectionner la dernière checkbox cochée
                  // Afficher le message d'erreur
                  errorMessageElement.textContent = 'Vous ne pouvez cocher que jusqu\'à 3 options.';
                  // Effacer le message d'erreur après 5 secondes
                  setTimeout(function() {
                    errorMessageElement.textContent = '';
                  }, 5000);
                }
              });
            });
          </script> -->
        
        <script>
            // Sélectionnez l'élément contenant le message flash
            const flashMessage = document.getElementById('flash-message');
            
            // Définissez un délai (en millisecondes) avant que le message ne disparaisse
            const delay = 7000; // 7 secondes
            
            // Utilisez setTimeout pour masquer le message après le délai
            setTimeout(function() {
                flashMessage.style.display = 'none';
            }, delay);
        </script> 
        <script src="{{url_for('static', filename='/js/bootstrap.bundle.min.js')}}" ></script>
        <script src="{{url_for('static', filename='/js/index.js')}}" ></script>
    </body>
</html>
