<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{url_for('static', filename='/img/logo_Eveil+.png')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
        <link rel="stylesheet" href="{{url_for('static', filename='/css/initialize.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
            
        <title>Eveil+</title>
        <style>
            /* Ajoutez un peu de style pour améliorer l'apparence */
            label {
                display: block;
                margin-bottom: 5px;
            }
        </style>
        <script>
            function checkPassword() {
                var password = document.getElementById("mot_de_passe").value;
                var confirmPassword = document.getElementById("confirm_mot_de_passe").value;
    
                if (password !== confirmPassword) {
                    document.getElementById("password-error").innerHTML = "Les mots de passe ne correspondent pas";
                    document.getElementById("submit-button").disabled = true;
                } else {
                    document.getElementById("password-error").innerHTML = "";
                    document.getElementById("submit-button").disabled = false;
                }
            }
        </script>
    </head>
    <body class="body_page_connx">
        <section class="section_connexion_page">
            <main class="section_inscriptionRepetiteur_page_container">
                <div class="section_inscriptionRepetiteur_container1 py-3">

                    {% with messages=get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{category}}" id="flash-message"> {{message}} </div>
                            {%endfor%}
                        {%endif%}
                    {% endwith %} 

                    <div class="form_titr_inscriptionParent"><h2> Modification des informations Répétiteur<h3></div>
                    <form action="{{url_for('SuccesModifProfil_rep')}}" method="post">
                        <div class="inscriptionParent_login1">
                            <input type="text" class="input" name="NomRepetiteur" placeholder="Votre Nom" value="{{usersRepetiteur.NomRepetiteur}}">
                            <input type="text" class="input" name="PrenomRepetiteur" placeholder="Votre Prenom" value="{{usersRepetiteur.PrenomRepetiteur}}">
                        </div>
                        <div class="inscriptionParent_login1">
                            <select class="form-control input" name="lieu_hab_rep"  list="1" id="habitation" placeholder="Votre lieu d'habitation">
                                <option value="{{ usersRepetiteur.lieu_hab_rep if usersRepetiteur.lieu_hab_rep else '#' }}">{{ usersRepetiteur.lieu_hab_rep if usersRepetiteur.lieu_hab_rep else ''"Votre lieu d'habitation" }}</option>
                                <option value="Adzopé">Adzopé</option>
                                <option value="Adiaké">Adiaké</option>
                                <option value="Agboville">Agboville</option>
                                <option value="Agnibilékrou">Agnibilékrou</option>
                                <option value="Agnié">Agnié</option>
                                <option value="Abobo">Abobo</option>
                                <option value="Adjamé">Adjamé</option>
                                <option value="Anyama">Anyama</option>
                                <option value="Attécoubé">Attécoubé</option>
                                <option value="Bangolo">Bangolo</option>
                                <option value="Bingerville">Bingerville</option>
                                <option value="Bondoukou">Bondoukou</option>
                                <option value="Bouaké">Bouaké</option>
                                <option value="Bouaflé">Bouaflé</option>
                                <option value="Bouna">Bouna</option>
                                <option value="Cocody">Cocody</option>
                                <option value="Dabakala">Dabakala</option>
                                <option value="Dabou">Dabou</option>
                                <option value="Daloa">Daloa</option>
                                <option value="Didiévi">Didiévi</option>
                                <option value="Divo">Divo</option>
                                <option value="Ferkessédougou">Ferkessédougou</option>
                                <option value="Gagnoa">Gagnoa</option>
                                <option value="Guibéroua">Guibéroua</option>
                                <option value="Issia">Issia</option>
                                <option value="Jacqueville">Jacqueville</option>
                                <option value="Korhogo">Korhogo</option>
                                <option value="Konongoro">Konongoro</option>
                                <option value="Lakota">Lakota</option>
                                <option value="Madinani">Madinani</option>
                                <option value="Man">Man</option>
                                <option value="Mankono">Mankono</option>
                                <option value="Mamou-Kouparou">Mamou-Kouparou</option>
                                <option value="Oumé">Oumé</option>
                                <option value="Oumé-Gnanhoué">Oumé-Gnanhoué</option>
                                <option value="Sakassou">Sakassou</option>
                                <option value="San-Pédro">San-Pédro</option>
                                <option value="Sassandra">Sassandra</option>
                                <option value="Séguéla">Séguéla</option>
                                <option value="Tiassalé">Tiassalé</option>
                                <option value="Tanda">Tanda</option>
                                <option value="Yamoussoukro">Yamoussoukro</option>
                            </select>
                            <input type="email" class="input" name="Email" placeholder="Votre email" value="{{usersRepetiteur.Email}}">
                         </div>
                         <div class="inscriptionParent_login1">
                            <input type="date" name="DateNaissance" class="input" max="2005-12-31" min ="1973-12-31" value="{{usersRepetiteur.DateNaissance}}">
                            <input type="number"  name="AnneeExperience" class="input" placeholder="Vos années d'expérience" min="0" max="20" value="{{usersRepetiteur.AnneeExperience}}" >
                            
                            <input type="hidden" name="Roles" value="Repetiteur">
                         </div>
                         <div class="inscriptionParent_login1">
                            <select name="NiveauRepetiteur" class="input">
                                <option value="{{usersRepetiteur.NiveauRepetiteur}}">{{usersRepetiteur.NiveauRepetiteur}}</option>
                                <option value="BAC">BAC</option>
                                <option value="BAC+1">BAC+1</option>
                                <option value="BAC+2">BAC+2</option>
                                <option value="BAC+3">BAC+3</option>
                                <option value="BAC+4">BAC+4</option>
                                <option value="BAC+5">BAC+5</option>
                            </select>
                            <select name="IdCompetence" class="input">
                                    <option value="{{usersRepetiteur.IdCompetence}}">{{usersRepetiteur.NomCompetence}}</option>
                                {% for Competence in Competence %}
                                    <option value="{{Competence.IdCompetence}}">{{Competence.NomCompetence}}</option>
                                {%endfor%}
                            </select>
                            <input type="hidden" name="EstActif" value="1">
                         </div>
                         <div class="inscriptionParent_login1">
                            <fieldset class="table-responsive input border rounded" style="height: 110%; ">
                                <legend> <small>Primaire:</small> </legend>
                                {% for ClassePrimaire in ClassePrimaire %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Classe[]" value="{{ ClassePrimaire[1] }}" id="ClassePrimaire{{ loop.index }}">
                                        <label class="form-check-label" for="ClassePrimaire{{ loop.index }}">
                                            {{ ClassePrimaire[1] }}
                                        </label>
                                    </div>
                                {% endfor %}
                                <legend> <small>College:</small> </legend>
                                {% for ClasseCollege in ClasseCollege %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Classe[]" value="{{ ClasseCollege[1] }}" id="ClasseCollege{{ loop.index }}">
                                    <label class="form-check-label" for="ClasseCollege{{ loop.index }}">
                                        {{ ClasseCollege[1] }}
                                    </label>
                                </div>
                            {% endfor %}
                            <legend> <small>Lycée:</small> </legend>
                                {% for ClasseLycee in ClasseLycee %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Classe[]" value="{{ ClasseLycee[1] }}" id="ClasseLycee{{ loop.index }}">
                                    <label class="form-check-label" for="ClasseLycee{{ loop.index }}">
                                        {{ ClasseLycee[1] }}
                                    </label>
                                </div>
                            {% endfor %}
                            </fieldset>
                                                          
                            <!-- Changez MatiereSciences à MatiereScience -->
                        <fieldset class="table-responsive input border rounded" style="height: 110%; ">
                            <legend> <small>Sciences:</small> </legend>
                            {% for MatiereSciences in MatiereSciences %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Matiere[]" value="{{ MatiereSciences[1] }}" id="MatiereSciences{{ loop.index }}">
                                    <label class="form-check-label" for="MatiereSciences{{ loop.index }}">
                                        {{ MatiereSciences[1] }}
                                    </label>
                                </div>
                            {% endfor %}
                            <legend> <small>Litteraire:</small> </legend>
                            {% for MatiereLitteraire in MatiereLitteraire %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Matiere[]" value="{{ MatiereLitteraire[1] }}" id="MatiereLitteraire{{ loop.index }}">
                                    <label class="form-check-label" for="MatiereLitteraire{{ loop.index }}">
                                        {{ MatiereLitteraire[1] }}
                                    </label>
                                </div>
                            {% endfor %}
                        </fieldset>

                         </div>
                         <p id="errorMessage" style="color: red;"></p>
                         <input type="submit" value="VALIDER"  id="submit-button" class="btn btn-secondary py-2" style="background-color: #6ebca8; border:none; width: 20%; font-size:1.3em; font-weight: bold;">
                    </form>
                    <div class="inscriptionParent_login2">
                        <a class="btn btn-danger"  href="/profil_repetiteur">Abandonner</a>
                    </div>
                </div>
            </main>
        </section>

        <!-- <script>
            var checkboxes = document.querySelectorAll('.checkbox');
            var errorMessageElement = document.getElementById('errorMessage');
        
            // Limiter la sélection à 3 checkboxes
            checkboxes.forEach(function(checkbox) {
              checkbox.addEventListener('change', function() {
                var checkedCheckboxes = document.querySelectorAll('.checkbox:checked');
                if (checkedCheckboxes.length > 3) {
                  this.checked = false; // Désélectionner la dernière checkbox cochée
                  // Afficher le message d'erreur
                  errorMessageElement.textContent = 'Vous ne pouvez cocher que jusqu\'à 3 options.';
                  // Effacer le message d'erreur après 5 secondes
                  setTimeout(function() {
                    errorMessageElement.textContent = '';
                  }, 5000);
                }
              });
            });
        </script> -->
        
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const lieuHabitationSelect = document.getElementById('habitation');

                // Ajoutez une classe pour cacher le placeholder si une valeur est sélectionnée
                lieuHabitationSelect.addEventListener('change', function() {
                    const placeholderOption = lieuHabitationSelect.querySelector('[value=""]');
                    placeholderOption.style.display = '';
                });
            });
        </script>


        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Si la valeur de LieuHabitation existe, masquer le champ de saisie et afficher le champ de sélection
                var lieuHabitationSelect = document.getElementById('habitation');
                var lieuHabitationInput = document.querySelector('input[name="LieuHabitation"]');
                
                if (lieuHabitationInput.value !== "") {
                    lieuHabitationSelect.style.display = 'block';
                    lieuHabitationInput.style.display = 'none';
                }
            });
        </script>

        
        <!-- <script>
            // Sélectionnez l'élément contenant le message flash
            const flashMessage = document.getElementById('flash-message');
            
            // Définissez un délai (en millisecondes) avant que le message ne disparaisse
            const delay = 15000; // 15 secondes
            
            // Utilisez setTimeout pour masquer le message après le délai
            setTimeout(function() {
                flashMessage.style.display = 'none';
            }, delay);
       </script> -->


        <script>
            // Sélectionnez l'élément contenant le message flash
            const flashMessage = document.getElementById('flash-message');
            
            // Définissez un délai (en millisecondes) avant que le message ne disparaisse
            const delay = 7000; // 7 secondes
            
            // Utilisez setTimeout pour masquer le message après le délai
            setTimeout(function() {
                flashMessage.style.display = 'none';
            }, delay);
        </script>  
        <script src="{{url_for('static', filename='/js/bootstrap.bundle.min.js')}}" ></script>
        <script src="{{url_for('static', filename='/js/index.js')}}" ></script>
    </body>
</html>
