<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{url_for('static', filename='/img/logo_Eveil+.png')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
        <link rel="stylesheet" href="{{url_for('static', filename='/css/initialize.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">   
        <title>Eveil+</title>
    </head>
    <body class="body_page_connx">
        <section class="section_connexion_page">
            
            <main class="section_inscriptionParent_page_container">
                <div class="section_inscriptionParent_container1">

                    
                    <div class="form_titr_inscriptionParent"><h2> Modifier mon profil<h3></div>
                    <form action="{{url_for('SucessModifProfil_par')}}" method="post">
                        <div class="inscriptionParent_login1">
                            <input type="text" class="input" name="NomParent" placeholder="Votre Nom" value="{{usersParent.NomParent}}">
                            <input type="text" class="input" name="PrenomParent" placeholder="Votre Prenom" value=" {{usersParent.PrenomParent}}">
                        </div>
                        <div class="inscriptionParent_login1">
                            <input type="email" class="input" name="Email" placeholder="Votre email" value="{{usersParent.Email}}">
                            <input type="text" class="input" name="TelephoneParent1" placeholder="Votre numéro de téléphone 1"   value="{{usersParent.TelephoneParent1}}">
                            <!-- <input type="text" class="input" name="LieuHabitation" placeholder="Votre lieu d'habitation Ex: Cocody\2 plateau" value="{{usersParent.LieuHabitation}}"> -->
                        </div>
                        <div class="inscriptionParent_login1">
                            <select class="form-control input" name="LieuHabitation" list="1" id="habitation" placeholder="Votre lieu d'habitation">
                                <option value="" disabled selected style="display:none;">Votre lieu d'habitation</option>
                                <option value="Adzopé">Adzopé</option>
                                <option value="Adiaké">Adiaké</option>
                                <option value="Agboville">Agboville</option>
                                <option value="Agnibilékrou">Agnibilékrou</option>
                                <option value="Agnié">Agnié</option>
                                <option value="Abobo">Abobo</option>
                                <option value="Adjamé">Adjamé</option>
                                <option value="Anyama">Anyama</option>
                                <option value="Attécoubé">Attécoubé</option>
                                <option value="Bangolo">Bangolo</option>
                                <option value="Bingerville">Bingerville</option>
                                <option value="Bondoukou">Bondoukou</option>
                                <option value="Bouaké">Bouaké</option>
                                <option value="Bouaflé">Bouaflé</option>
                                <option value="Bouna">Bouna</option>
                                <option value="Cocody">Cocody</option>
                                <option value="Dabakala">Dabakala</option>
                                <option value="Dabou">Dabou</option>
                                <option value="Daloa">Daloa</option>
                                <option value="Didiévi">Didiévi</option>
                                <option value="Divo">Divo</option>
                                <option value="Ferkessédougou">Ferkessédougou</option>
                                <option value="Gagnoa">Gagnoa</option>
                                <option value="Guibéroua">Guibéroua</option>
                                <option value="Issia">Issia</option>
                                <option value="Jacqueville">Jacqueville</option>
                                <option value="Korhogo">Korhogo</option>
                                <option value="Konongoro">Konongoro</option>
                                <option value="Lakota">Lakota</option>
                                <option value="Madinani">Madinani</option>
                                <option value="Man">Man</option>
                                <option value="Mankono">Mankono</option>
                                <option value="Mamou-Kouparou">Mamou-Kouparou</option>
                                <option value="Oumé">Oumé</option>
                                <option value="Oumé-Gnanhoué">Oumé-Gnanhoué</option>
                                <option value="Sakassou">Sakassou</option>
                                <option value="San-Pédro">San-Pédro</option>
                                <option value="Sassandra">Sassandra</option>
                                <option value="Séguéla">Séguéla</option>
                                <option value="Tiassalé">Tiassalé</option>
                                <option value="Tanda">Tanda</option>
                                <option value="Yamoussoukro">Yamoussoukro</option>
                            </select>
                            <input type="text" class="input" name="TelephonePparent2" placeholder="Votre numéro de téléphone 2" value="{{usersParent.TelephonePparent2}}">
                        </div>
                        <div class="inscriptionParent_login1">
                            <input type="hidden" name="Roles" value="Parent">
                        </div>

                        
                        <input type="submit" value="VALIDER" id="submit-button" class="btn btn-secondary py-2" style="background-color: #6ebca8; border:none; width: 20%; font-size:1.3em; font-weight: bold;">

                    </form>

                    

                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            // Sélectionnez le champ d'entrée TéléphonePparent2
                            var telephoneInput = document.querySelector('input[name="TelephonePparent2"]');

                            // Définissez le placeholder initial en fonction de la valeur actuelle
                            telephoneInput.placeholder = "{{ 'Votre numéro de téléphone 2' if not usersParent.TelephonePparent2 else '' }}";

                            // Supprimez la valeur actuelle
                            telephoneInput.value = "{{ 'Votre numéro de téléphone 2' if not usersParent.TelephonePparent2 else '' }}";

                            // Ajoutez un gestionnaire d'événements pour gérer le focus
                            telephoneInput.addEventListener('focus', function() {
                                // Effacez la valeur lorsqu'on clique sur le champ
                                telephoneInput.value = '';
                            });

                            // Ajoutez un gestionnaire d'événements pour gérer le blur
                            telephoneInput.addEventListener('blur', function() {
                                // Restaurez le placeholder initial si le champ est vide
                                if (!telephoneInput.value) {
                                    telephoneInput.placeholder = "{{ 'Votre numéro de téléphone 2' if not usersParent.TelephonePparent2 else '' }}";
                                }
                            });
                        });
                    </script>

                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            const lieuHabitationSelect = document.getElementById('habitation');

                            // Ajoutez une classe pour cacher le placeholder si une valeur est sélectionnée
                            lieuHabitationSelect.addEventListener('change', function() {
                                const placeholderOption = lieuHabitationSelect.querySelector('[value=""]');
                                placeholderOption.style.display = '';
                            });
                        });
                    </>


                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            // Si la valeur de LieuHabitation existe, masquer le champ de saisie et afficher le champ de sélection
                            var lieuHabitationSelect = document.getElementById('habitation');
                            var lieuHabitationInput = document.querySelector('input[name="LieuHabitation"]');
                            
                            if (lieuHabitationInput.value !== "") {
                                lieuHabitationSelect.style.display = 'block';
                                lieuHabitationInput.style.display = 'none';
                            }
                        });
                    </script>

                    
                    <script>
                        // Sélectionnez l'élément contenant le message flash
                        const flashMessage = document.getElementById('flash-message');
                        
                        // Définissez un délai (en millisecondes) avant que le message ne disparaisse
                        const delay = 15000; // 15 secondes
                        
                        // Utilisez setTimeout pour masquer le message après le délai
                        setTimeout(function() {
                            flashMessage.style.display = 'none';
                        }, delay);
                    </script>
                    <div class="inscriptionParent_login2">
                     <a class="btn btn-danger"  href="/profil_parent">Abandonner</a>
                    </div>
                </div>
            </main>
        </section>

        
        <script src="{{url_for('static', filename='/js/bootstrap.bundle.min.js')}}" ></script>
        <script src="{{url_for('static', filename='/js/index.js')}}" ></script>
    </body>
</html>
