{% extends "Partials/Base_parent.html" %}
{% block body %}
    <section class="my-5 py-5 section-rech">
        <div class="container colunm">
            <div class="main_rech1_titre1 mb-4">
                <h2>Mon profil</h2>
            </div>
            {% with messages=get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{category}}" id="flash-message"> {{message}} </div>
                            {%endfor%}
                        {%endif%}
                    {% endwith %} 

            <div class="row">
                
                <div class="col-md-3">
                    <button type="button" style="border: none;" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">
                        <div class="">
                            <img src="{{url_for('static', filename='/img/user_img/bruce_yapo.jpg')}}" class="img-thumbnail img-fluid" alt="...">
                        </div>   
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modifier ma photo de profil</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" >
                                    <form class="m-auto" style="width: 290px;">

                                        <div class="uplaod">
                                            <img src="{{url_for('static', filename='/img/user_img/bruce_yapo.jpg')}}" class="img-thumbnail img-fluid" width="200px" alt="...">
                                            <div class="round">
                                                <input type="file">
                                                <i class="ri-camera-line" style="color: #fff; font-size:1.5em;"></i>
                                            </div>
                                        </div>   
                                        <input type="submit" class="btn btn-warning text-white" value="Modifier">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <marquee behavior="scroll" direction="left" scrollamount="5">
                        <!-- Votre message ici -->
                        Cliquez sur l'image pour modifier
                    </marquee>
                </div>
                <div class="col-md-9">
                    <table class="table table-striped table-hover">
                        <tbody>
                        <tr> 
                            <td><b>Nom</b></td>
                            <td>
                                {{usersParent.NomParent}}
                            </td>
                        </tr>
                        <tr> 
                            <td><b>Prenoms</b></td>
                            <td>
                                {{usersParent.PrenomParent}}
                            </td>
                        </tr>
                        <tr>
                            <td><b>E-mail</b></td>
                            <td>
                                {{usersParent.Email}}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Lieu d'habition</b></td>
                            <td>
                                {{usersParent.LieuHabitation}}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Telephone 1</b></td>
                            <td>
                                {{usersParent.TelephoneParent1}}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Telephone2</b></td>
                            <td>
                                {{usersParent.TelephonePparent2}}
                            </td>
                        </tr>
                        
                        </tbody>
                    </table>
                    <div class="col-md-6">
                        <a  href="/ModifProfil_par" class="btn btn-warning text-white">MODIFIER</a>
                    </div>
                </div>
            </div>
        </div>  
    </section>

    <!-- Ajoutez le script JavaScript pour gérer la disparition du message -->
    <script>
        // Sélectionnez l'élément contenant le message flash
        const flashMessage = document.getElementById('flash-message');
        
        // Définissez un délai (en millisecondes) avant que le message ne disparaisse
        const delay = 7000; // 7 secondes
        
        // Utilisez setTimeout pour masquer le message après le délai
        setTimeout(function() {
            flashMessage.style.display = 'none';
        }, delay);
    </script> 
{% endblock %}