/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); */

/* acceuil */
* {
  font-family: "Poppins", sans-serif;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



h1,
h2,
h6,
p {
  padding: 0;
  margin: 0;
}


.logo {
  height: 80px;
}

body .container-article {
  max-width: 1100px;
  /* border: 2px solid red; */
  position: relative;

  /* padding: 0 auto; */
}

/* ! LIBRAIRIE */

/* #filter-buttons button {
  border-radius: 3px;
  background: #fff;
  border-color: transparent;
}
#filter-buttons button:hover {
  background: #ddd;
}
#filter-buttons button.active {
  color: #fff;
  background: #6c757d;
} */

/* ? Search */

.div-search {
  /* border: 2px solid black; */
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin: 15px;
}

.input-box {
  position: relative;
  height: 50px;
  /* max-width: 900px; */
  width: 65%;
  background: transparent;
  /* margin: 0 20px; */
  border-radius: 8px;
  /* border: 2px solid blue; */
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
}

.input-box i,
.input-box .button,
.input-box input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input-box i {
  left: 20px;
  font-size: 30px;
  color: #707070;
}

.input-box input {
  height: 85%;
  width: 60%;
  /* outline: none; */
  font-size: 18px;
  font-weight: 400;
  border: 2px solid black;
  border-radius: 6px;
  padding-left: 65px;
  background-color: transparent;
}

.input-box .button {
  right: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: 2px solid black;
  height: 80%;
  width: 30%;
  /* padding: 12px 30px; */
  /* border-radius: 6px; */
  background-color: #4472c4;
  cursor: pointer;
}

.input-box .button:active {
  transform: translateY(-50%) scale(0.98);
}

/* Responsive */
@media screen and (max-width: 1148px) {
  .input-box {
    margin-right: 20px;
  }
}

@media screen and (max-width: 727px) {
  .input-box .button {
    right: 12px;
    font-size: 12px;
    /* padding: 8px 18px; */
  }
}

@media screen and (max-width: 556px) {
  .input-box {
    height: 66px;
    /* margin: 0 8px; */
    /* border: 2px solid red; */
    max-width: 900px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .input-box {
    height: 66px;
    /* margin: 0 8px; */
  }

  .input-box i {
    left: 12px;
    font-size: 25px;
  }

  .input-box input {
    padding: 0 0 0 50px;
  }



  /* .input-box .button {
    right: 12px;
    font-size: 12px;
    padding: 8px 18px;
  } */
}

/* ? Cards */
/* #filterable-cards{
  border: 2px solid red;
} */
li {
  list-style-type: none;
}

#filterable-cards ul {
  /* margin: 0; */
  /* display: flex; */
  /* border: 2px solid red; */
  padding: 0 30px;
  width: 90%;
  /* display: flex; */
  /* justify-content: space-around; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  /* grid-column: 15px; */
  /* display: flex; */
}

#filterable-cards ul img {
  /* border: 2px solid royalblue; */
  padding: 15px 20px 0;
  width: 100%;
  height: 70%;

}

#filterable-cards ul .my-card {
  height: 350px;
  width: 100%;
  /* border: 2px solid green; */
  background: white;
  text-align: center;
  position: relative;


}

#filterable-cards ul .my-card button {
  background: #f4b183;
  /* position: absolute; */
  width: 80%;
  /* left: 50%; */
  /* bottom: 10px; */
  /* transform: translateX(-50%); */
  color: white;
  font-size: 0.9rem;
 
  /* width: 100%; */
  /* border: 2px solid blue; */
  /* width: 100% ; */
}

.container-article .div-cards {
  /* border: 2px solid rebeccapurple; */
  justify-content: center;
  background: #fff2cc;
  padding: 15px 0;
  /* display: grid; */
  /* grid-template-columns: repeat(1fr, 3); */
  display: flex;
  /* justify-content: center; */
}

/* #filterable-cards .div-price {
  height: 30px;
  width: 100%;
  border: 2px solid black;
  background: #f4b183;
} */

#filterable-cards .body-card {
  /* background: #f4b183; */
  /* border: 2px solid yellow; */
  height: 30%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
}

/* .body-card p{

  margin-bottom: 30px;
} */


#filterable-cards .card {
  width: 15rem;
  /* border: 2px solid yellow; */
  text-align: center;
  /* padding: 0 20px; */
}

#filterable-cards .card.hide {
  display: none;
}

@media screen and (max-width: 800px) {

  #filterable-cards ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 600px) {
  #filterable-cards {
    justify-content: center;
  }

  /* #filterable-cards .card {
    width: calc(100% / 2 - 10px);
  } */


}

@media screen and (max-width: 495px) {
  #filterable-cards ul {
    grid-template-columns: 1fr;
    border: 2px solid black;
    /* gap: 30px; */
    /* padding: 0 10px; */
  }
}

@media screen and (max-width: 260px) {
  #filterable-cards ul .my-card button {
    font-size: 0.8rem;
    /* grid-template-columns: 1fr; */
    /* border: 2px solid black; */
    /* gap: 30px; */
    /* padding: 0 10px; */
  }
}



/* ? Pagination */
.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  bottom: 22px;
  width: 100%;
}

.pagination {
  width: 500px;
  border-radius: 35px;
  /* box-shadow: 0 0 20px 5px rgb(3, 3, 43); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(15, 64, 109); */
  /* padding: 10px 10px; */
}

/* .pagination a {
  padding: 9px 18px;
  font-weight: 500;
  text-decoration: none;
  font-size: 25px;
  color: rgb(155, 155, 238);
  border-radius: 50%;
  transition: 0.5s ease-in-out;
} */
.control {
  font-size: 25px;
  font-weight: bold;
  /* background-color: red; */
  /* color: rgb(200, 200, 239); */
  border: none;
  cursor: pointer;
  /* padding: 10px 10px; */
  border-radius: 25px;
  transition: 0.5s ease-in-out;
}

.disabled {
  color: rgba(12, 16, 41, 0.5);
  cursor: default;
}

.pageNumbers a {
  color: #f4b183;
  text-decoration: none;
}

.control:not(.disabled):hover,
.pageNumbers a:hover {
  /* background-color: rgb(9, 9, 75); */
  /* color: white; */
  color: rgb(9, 9, 75);
}

a.active {
  /* background-color: rgb(9, 9, 75); */
  color: rgb(9, 9, 75);
  /* color: aqua; */
}

.hidden {
  display: none;
}

/* Page_recherche*/

.main_rech{
    width: 100%;
    height: 500px;
    
}
.main_rech1{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: red solid; */
}

.main_rech1_titre1{
    width: 80%;
    /* border: blue solid; */
}
.main_rech1_btn_retour{
    width:30%;
    height: 60%;
    color: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
}
.main_rech1_btn_retour a{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid black;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    background-color: rgb(199, 45, 45);
}
.main_rech1_btn_retour a:hover{
    color: red;
    background-color: #fff;
}

.main_rech2{
    width: 100%;
    height: 80%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: orange; */
}
.main_rech2_min{
    width: 80%;
    height: 100%;
    /* border: solid red; */
}
.main_rech2_min1{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: solid green; */
}
.main_rech2_min1_container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: solid blue; */
    
}
.bg-color{
  background-color: #FFF2CC;
  border-radius: 14px;
  box-shadow: #707070 5px 5px 15px;
}
.section-rech{
  background-color: #eeeeee;
}
.container_champ_rech{
    width: 100%;
    height: 30%;
    /* border: red solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.rech_champ1{
    width: 47%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    padding-right: 20px;
}

.rech_champ1_L1{
    height: 60%;
    width: 60%;
}

.rech_champ1_select{
    width: 100%;
    height: 100%;
}

.rech_bouton{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: red solid; */
   

}
.rech_bouton1{
width: 40%;
height: 50px;

display: flex;
flex-direction: row;
justify-content:space-between;
align-items:center;
}
.rech_bouton1_min1{
    width:35%;
    height: 100%;
    border:solid black;
    color: #ffff;
    background-color: rgb(199, 45, 45);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.rech_bouton1_min1:hover{
    background-color: #fff;
    color: red;
}
.rech_bouton1_min2{
    width:35%;
    height: 100%;
    border:solid black;
    background-color: rgb(34, 219, 34);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.rech_bouton1_min2:hover{
    background-color: #fff;
    color: green;
}
 
/* liste repetiteur */

.main.liste{
    width: 100%;
    height: 500px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main.liste1{
    width: 90%;
    height: 60px;
    
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:start;
}
.container.liste{
    width: 80%;
    height: 315px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container.list{
    width: 100%;
    height: 300px;
   
    background-color:rgb(245, 232, 208);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container.list.min{
    width: 90%;
    height: 73px;
    border: 2px solid rgb(245, 232, 208);
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    /* border: 2px solid black; */
}
.Tab tbody{
  background-color: #fff;
}
.tab-a {
  text-decoration: none;
  font-weight: bold;
  color: #707070;
  padding: 15px;
}
.first.min.list{
    width: 8%;
    height: 100%;
    border-radius: 100px;
    border: 2px solid black;
    background-color: rgb(169, 115, 95);
    
}
.two.min.list{
    width: 8%;
    height: 100%;
    border-radius: 100px;
    border: 2px solid black;
    background-color: rgb(169, 115, 95);
}
.three.min.list{
    width: 8%;
    height: 100%;
    border-radius: 100px;
    border: 2px solid black;
    background-color: rgb(169, 115, 95);
}
.dispo_repetiteur{
    background-color: rgb(117, 214, 117);
}
.btn_repetiteur{
    width: 12%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: solid black;
    background-color: rgb(57, 57, 154);
}
.btn_repetiteur a{
    color: #fff; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    /* border: solid red; */
    text-decoration: none;
}
.btn_repetiteur a:hover{
    background-color: #fff;
    color: blue;
}


.container.list.min2{
    width: 90%;
    height: 73px;
    border: 2px solid rgb(245, 232, 208);
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;  
}
.dispo_repetitor{
    background-color: red;
    color: #fff;
}

.rech_btn{
    width: 50%;
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid red;

}

/* button {
    font-size: 16px;
    color: #000;
    background-color:rgb(75, 75, 189);
    width:100% ;
   
  }
   */


  /* confirme recherche repetiteur disponible */

.rech_confime{
width: 100%;
height: 500px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.rech_confirme_min{
    width: 70%;
    height: 300px;
    background-color:rgb(224, 187, 119);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
} 
.rech_confirme_text{
    width: 80%;
    height: 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
