/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); */
* {
  font-family: "Poppins", sans-serif;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/****Page Index******/
.section1_index{
  width: 100%;
  height: 500px;
}
.section1_index img{
  width: 100%;
  height: 100%;
}
#Services{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  /* border: solid black; */
 
}
.section2_index{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  /* border: solid black; */
 
}
.section2_index_min{
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border: solid red; */
}
.section2_index_min_img{
  /* border: solid black; */
  width: 45%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.section2_index_min_img img{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section2_index_min_img_1{
  width: 95%;
  height: 95%;
  /* border: solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.section2_index_min_img_1_txt{
  width: 95%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid  black; */
}
.section2_index_min_img_1_btn{
  width: 30%;
  height: 15%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6ebca8;
  border-radius: 10px;
  border: solid  #6ebca8;
}
.section2_index_min_img_1_btn a:hover{
  color: #6ebca8;
  background-color: #fff;
}
.section2_index_min_img_1_btn1{
  width: 30%;
  height: 15%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  background-color: #fdd31d;;
  border: solid  #fdd31d;
}
.section2_index_min_img_1_btn1 a:hover{
  color: #fdd31d;
  background-color: #fff;
}
.section2_index_min_img_1_btn a, .section2_index_min_img_1_btn1 a{
  color:#fff;
  border-radius: 10%;
  /* border: solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

footer{
  width: 100%;
  height: 300px;
  margin-top: 100px;
  color:#fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#363636;
}
.footer_main_index{
  width: 95%;
  height: 90%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer_main_index1{
  width: 23%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.footer_main_index1_titr1{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 
}
.footer_main_index1_txt{
  width: 100%;
  height: 65%;
  text-align: center;

}
.footer_main_index1_txt a{
  text-decoration: none;
  color: #fff;
}
.footer_main_index1_txt_news{
  width: 100%;
  height: 65%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.footer_form_index{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}
.footer_input_index{
  width: 100%;
  height: 25%;
}
.footer_input_btn{
  width: 40%;
  height: 25%;
  border-radius: 10%;
  background-color: #6ebca8;
  color: #fff;
}
.footer_input_btn:hover{
  background-color: #fff;
  color: #6ebca8;
}

/****Page_Connexion******/
.body_page_connx{
  background-color: #6ebca8;
}
.section_connexion_page{
  width: 100%;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section_connexion_page_container{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
}
.section_connexion_page_container1{
  width: 45%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.section_connexion_page_container1 img{
  width: 100%;
  height: 100%;
}
.form_titr_page_connex{
  width: 100%;
  height: 20%;
}
.section_connexion_page_container1 form{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.form_titr_page_connex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.connx_page_login1{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.inp_page_connex{
  width: 100%;
  height: 30%;
  padding-left: 2%;
}
.btn_form_page_connex{
  width: 30%;
  height: 25%;
  background-color: #6ebca8;
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid #6ebca8;
}
.btn_form_page_connex a{
  text-decoration: none;
  color: #fff;
}
.btn_form_page_connex:hover,.btn_form_page_connex a:hover{
  color: #6ebca8;
  background-color: #fff;
}
.connx_page_login2{
  width: 100%;
  height: 20%;
}

/****Page Inscription parent******/
.section_inscriptionParent_page_container{
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
}
.section_inscriptionParent_container1{
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.form_titr_inscriptionParent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.section_inscriptionParent_container1 form{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.inscriptionParent_login1{
  width: 90%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.inscriptionParent_login1 input,.inscriptionParent_login1 select{
  width: 45%;
  height: 100%;
  padding-left: 10px;
}
.btn_form_inscriptionParent{
  width: 25%;
  height: 90%;
  background-color: #6ebca8;
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid #6ebca8;
}
.btn_form_inscriptionParent a{
  text-decoration: none;
  color: #fff;
}
.btn_form_inscriptionParent:hover,.btn_form_inscriptionParent a:hover{
  color: #6ebca8;
  background-color: #fff;
}
.inscriptionParent_login2{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/****Page Inscription parent******/
.section_inscriptionRepetiteur_page_container{
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
}
.section_inscriptionRepetiteur_container1{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: solid red; */
}
.section_inscriptionRepetiteur_container1 form{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.inscriptionRepetiteur_login1{
  width: 90%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.btn_form_inscriptionRepetiteur{
  width: 20%;
  height: 45%;
  background-color: #6ebca8;
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid #6ebca8;
}
.btn_form_inscriptionRepetiteur a{
  text-decoration: none;
  color: #fff;
}
.btn_form_inscriptionRepetiteur:hover,.btn_form_inscriptionRepetiteur a:hover{
  color: #6ebca8;
  background-color: #fff;
}
.in
/**************COMPTE PARENT********************/

/* acceuil */


h1,
h2,
h6,
p {
  padding: 0;
  margin: 0;
}


.logo {
  /* height: 80px; */
  width: 95px;
  
}
.logo_Eveil{
  border-right: #707070 2.4px solid;
}
body .container-article {
  max-width: 1100px;
  /* border: 2px solid red; */
  position: relative;

  /* padding: 0 auto; */
}

/* ! LIBRAIRIE */

/* #filter-buttons button {
  border-radius: 3px;
  background: #fff;
  border-color: transparent;
}
#filter-buttons button:hover {
  background: #ddd;
}
#filter-buttons button.active {
  color: #fff;
  background: #6c757d;
} */

/* ? Search */

.div-search {
  /* border: 2px solid black; */
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin: 15px;
}

.input-box {
  position: relative;
  height: 50px;
  /* max-width: 900px; */
  width: 65%;
  background: transparent;
  /* margin: 0 20px; */
  border-radius: 8px;
  /* border: 2px solid blue; */
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
}

.input-box i,
.input-box .button,
.input-box input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input-box i {
  left: 20px;
  font-size: 30px;
  color: #707070;
}

.input-box input {
  height: 85%;
  width: 60%;
  /* outline: none; */
  font-size: 18px;
  font-weight: 400;
  border: 2px solid black;
  border-radius: 6px;
  padding-left: 65px;
  background-color: transparent;
}

.input-box .button {
  right: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: 2px solid black;
  height: 80%;
  width: 30%;
  /* padding: 12px 30px; */
  /* border-radius: 6px; */
  background-color: #4472c4;
  cursor: pointer;
}

.input-box .button:active {
  transform: translateY(-50%) scale(0.98);
}

/* Responsive */
@media screen and (max-width: 1148px) {
  .input-box {
    margin-right: 20px;
  }
}

@media screen and (max-width: 727px) {
  .input-box .button {
    right: 12px;
    font-size: 12px;
    /* padding: 8px 18px; */
  }
}

@media screen and (max-width: 556px) {
  .input-box {
    height: 66px;
    /* margin: 0 8px; */
    /* border: 2px solid red; */
    max-width: 900px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .input-box {
    height: 66px;
    /* margin: 0 8px; */
  }

  .input-box i {
    left: 12px;
    font-size: 25px;
  }

  .input-box input {
    padding: 0 0 0 50px;
  }



  /* .input-box .button {
    right: 12px;
    font-size: 12px;
    padding: 8px 18px;
  } */
}

/* ? Cards */
/* #filterable-cards{
  border: 2px solid red;
} */
li {
  list-style-type: none;
}

#filterable-cards ul {
  /* margin: 0; */
  /* display: flex; */
  /* border: 2px solid red; */
  padding: 0 30px;
  width: 90%;
  /* display: flex; */
  /* justify-content: space-around; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  /* grid-column: 15px; */
  /* display: flex; */
}

#filterable-cards ul img {
  /* border: 2px solid royalblue; */
  padding: 15px 20px 0;
  width: 100%;
  height: 70%;

}

#filterable-cards ul .my-card {
  height: 350px;
  width: 100%;
  /* border: 2px solid green; */
  background: white;
  text-align: center;
  position: relative;


}

#filterable-cards ul .my-card button {
  background: #f4b183;
  /* position: absolute; */
  width: 80%;
  /* left: 50%; */
  /* bottom: 10px; */
  /* transform: translateX(-50%); */
  color: white;
  font-size: 0.9rem;
 
  /* width: 100%; */
  /* border: 2px solid blue; */
  /* width: 100% ; */
}

.container-article .div-cards {
  /* border: 2px solid rebeccapurple; */
  justify-content: center;
  background: #fff2cc;
  padding: 15px 0;
  /* display: grid; */
  /* grid-template-columns: repeat(1fr, 3); */
  display: flex;
  /* justify-content: center; */
}

/* #filterable-cards .div-price {
  height: 30px;
  width: 100%;
  border: 2px solid black;
  background: #f4b183;
} */

#filterable-cards .body-card {
  /* background: #f4b183; */
  /* border: 2px solid yellow; */
  height: 30%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
}

/* .body-card p{

  margin-bottom: 30px;
} */


#filterable-cards .card {
  width: 15rem;
  /* border: 2px solid yellow; */
  text-align: center;
  /* padding: 0 20px; */
}

#filterable-cards .card.hide {
  display: none;
}

@media screen and (max-width: 800px) {

  #filterable-cards ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 600px) {
  #filterable-cards {
    justify-content: center;
  }

  /* #filterable-cards .card {
    width: calc(100% / 2 - 10px);
  } */


}

@media screen and (max-width: 495px) {
  #filterable-cards ul {
    grid-template-columns: 1fr;
    border: 2px solid black;
    /* gap: 30px; */
    /* padding: 0 10px; */
  }
}

@media screen and (max-width: 260px) {
  #filterable-cards ul .my-card button {
    font-size: 0.8rem;
    /* grid-template-columns: 1fr; */
    /* border: 2px solid black; */
    /* gap: 30px; */
    /* padding: 0 10px; */
  }
}



/* ? Pagination */
.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  bottom: 22px;
  width: 100%;
}

.pagination {
  width: 500px;
  border-radius: 35px;
  /* box-shadow: 0 0 20px 5px rgb(3, 3, 43); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(15, 64, 109); */
  /* padding: 10px 10px; */
}

/* .pagination a {
  padding: 9px 18px;
  font-weight: 500;
  text-decoration: none;
  font-size: 25px;
  color: rgb(155, 155, 238);
  border-radius: 50%;
  transition: 0.5s ease-in-out;
} */
.control {
  font-size: 25px;
  font-weight: bold;
  /* background-color: red; */
  /* color: rgb(200, 200, 239); */
  border: none;
  cursor: pointer;
  /* padding: 10px 10px; */
  border-radius: 25px;
  transition: 0.5s ease-in-out;
}

.disabled {
  color: rgba(12, 16, 41, 0.5);
  cursor: default;
}

.pageNumbers a {
  color: #f4b183;
  text-decoration: none;
}

.control:not(.disabled):hover,
.pageNumbers a:hover {
  /* background-color: rgb(9, 9, 75); */
  /* color: white; */
  color: rgb(9, 9, 75);
}

a.active {
  /* background-color: rgb(9, 9, 75); */
  color: rgb(9, 9, 75);
  /* color: aqua; */
}

.hidden {
  display: none;
}

/*page poste.html */



.conteneur1_poste{
  width: 100%;
  height: 560px;
  /* border: 2px solid black ;  */
  /* display: flex;  */
  justify-content: center;
  position: relative;
  background-color: #eeeeee;
  
}
.poste2{
  width:90%;
  height: 85%;
   /* border: 2px solid red ;  */
  flex-direction:column;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  top: 0;
  left: 5%
}

@media screen and (max-width: 1019px) {
  label{
    font-size: 20px;
  }
}

@media screen and (max-width: 865px) {
  label{
    font-size: 15px;
  }
}
@media screen and (max-width: 779px) {
  .conteneur1_poste label{
    font-size: 1.3rem;
    /* color: red; */
  }

  .conteneur1_poste .but_poste{
    margin-top: 50px;
  }
}


@media screen and (max-width: 758px) {
  .conteneur1_poste label{
    font-size: 1.2rem;
    /* color: red; */
  }

  
}

@media screen and (max-width: 610px) {
  .conteneur1_poste div.but_poste{
    /* padding-top: 0px; */
    margin-top: 60px;
    
    
  } 
}

@media screen and (max-width: 518px) {
  .conteneur1_poste .main_poste{
    height: 60%;
  }
  label{
    
    font-size: 10px;
  }
}

@media screen and (max-width: 860px) {
h1{
  font-size: 25px;
}
.conteneur1_poste label{
  font-size: 1.3rem;
}

}

@media screen and (max-width: 615px) {
label{
  font-size: 15px;
}

h1{
  font-size: 20px;
}
}




@media screen and (max-width: 1000px) {
  #text{
    width: 30%;
  }
}
@media screen and (max-width: 905px) {
  #text{
    width: 30%; 
  }
}

@media screen and (max-width: 850px) {
  #text{
    width: 25%; 
  }

 
}
@media screen and (max-width: 615px) {
  #text{
    width: 25%; 
  }
}
@media screen and (max-width:660px) {
   

  .conteneur1_poste .main_poste{
    width: 100%;
    
     
  }

  .conteneur1_poste .form_poste3 input{
    height: 40px;
  }

  .conteneur1_poste label{
    font-size: 1.3rem;
  }
}
@media screen and (max-width:605px) {
   

  .conteneur1_poste .main_poste{
   
    height: 70%;
     /* border: 2px solid blue;   */
     
  }


  .conteneur1_poste .titre{
    height: 10%
  }
}
@media screen and (max-width:521px) {
  .main_poste .but_poste{
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 550px) {
  .conteneur1_poste div.but_poste{
    /* padding-top: 0px; */
    margin-top: 35px;
   
    
  } 
}
@media screen and (max-width: 415px) {
  .main_poste .rep_post1 p{
    font-size: 1.3rem;
    
  }
  
}
@media screen and (max-width: 415px) {
  .main_poste .rep_post2 p{
    font-size: 1.3rem;
    
  }
  
}
@media screen and (max-width: 415px) {
  .main_poste .rep_post1 p{
    font-size: 1.3rem;
    
  }
}
@media screen and (max-width: 885px) {
  .conteneur1_poste .main_poste_hist {
    width: 100%;
    /* height: 100%; */

    
  }
}
@media screen and (max-width: 6475px) {
  .conteneur1_poste .main_poste_hist {
    /* width: 80%; */
     height: 100%;

    
  }
}

  



/* Responsive main */






.titre {
  height: 20%;
  width: 70%;
  /* border: 2px solid black ; */
  /* display: flex; */
  position: absolute;
  top: 0;
  left: 10%;
 
  /* text-align: center; */
  
} 

.main_poste{
  width: 80%;
  height:60% ;
  border-radius: 15px;
  /* border: 2px solid yellow; */
  /* margin-top: 20px; */
  /* text-align: center; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  background-color: #FFF2CC;
  justify-content: center;
  box-shadow: #707070 5px 5px 15px;
  
   
  
}
.note_poste{
  font-size: 23Px;
  
  /* padding-left: 20px; */
}
.note_poste2 {
  padding-left: 10px;
}
.main_poste form{
  width:100%;
  height: 100%;


}
.form_poste{
  text-align: justify;
  padding-left: 15px;
  margin-top: 10px;
  width: 100%;
  height: 40%;

}
#text{
width: 20%;
height: 25px;
}

#nombre{
  width: 8%;
  height: 25px;
 
}
#Niveau{
  width: 50px;
  height: 20px;
}
#Primaire{
  width: 50px;
  height: 20px;
}
#Collège{
  width: 50px;
  height: 20px;
}
.form_poste2{
  margin-top: 20px;
  padding-left: 15px;
  width: 100%;
  height: 30%;
}
#date{
  width: 18%;
  
  
}
.form_poste3{
  margin-top: 40px;
  width: 100%;
  height: 30%;
}



.ordre{
width: 100%;
height: 20%;
/* border: 2px solid rgb(222, 36, 36); */
position:relative;
top: 0;



}

.but_poste {

margin-top: 80px;
/* border-radius: 10px; */
 margin-bottom: 30px; 
 /* display: flex;/ */
justify-content: center;
justify-content: center;
display: flex;
/* border: 2px solid rgb(206, 77, 77); */

}
.but_poste button{
border-radius: 10px;
margin: 10px;
}
.vert{
background-color: forestgreen;
}
.rouge{
background-color: coral;
} 
.but_poste a {
text-decoration: none;
color: white;
}

span
{
color: darkgreen;
}
.rep_post1{
height: 50%;

padding-top: 20px;
}

.rep_post2{
height: 20%;
padding-top: 20px;

}
.rep_post3{
height: 20%;
padding-top: 20px;

}
/* historique des postes */


.form_poste_hist{
width: 20%;
height: 50%;
}

.poste2_hist{
width: 50%;
height: 70%;
/* border: 2px solid black; */
flex-direction:column;
  align-items: center;
  justify-content: center;
  display: flex;

}
.titre_hist{
width: 70%;
height: 20%;
/* border: 2px solid rgb(235, 167, 167); */
margin-left:100px;
}

.rep_post2_hist{

margin-top: 10px;
}
.rep_post3_hist{

margin-top: 10px;
}
.rep_post4_hist{

margin-top: 10px;
}
.rep_post5_hist{

margin-top: 10px;
}
.rep_post6_hist{

margin-top: 10px;
}
#but_poste_sup a{
text-decoration: none;
color: white;
}
.main_poste_hist{
height: 80%;
width: 60%;
/* border: 2px solid rgb(227, 59, 59); */
background-color: rgba(225, 190, 124, 0.808);
/* border-radius: 15px; */
margin-left:15px;
margin-top: 15px;box-shadow: #707070 5px 5px 15px;
background-color: #FFF2CC;
  

}
.tex_hist{
margin-left:15px;
margin-top: 15px;

}
#but_poste{
width: 100%;
height: 20%;
/* border: 2px solid rgb(227, 59, 59); */
justify-content: flex-end;
display: flex;


}
#but_poste_sup {
text-align: center;
display: flex;
margin-top: 20px;
justify-content: center;

}
#but_poste_sup button{
width: 60%;
height: 90%;
border-radius: 10px;

background-color: coral;

}
/* poster maintenant */
.main_poste_main{
width: 80%;
  height:60% ;
  border-radius: 15px;
  /* border: 2px solid yellow; */
  background-color: rgba(225, 190, 124, 0.808);
  display: flex;
  justify-content: center;
  box-shadow: #707070 5px 5px 15px;
  background-color: #FFF2CC;
  
}

.maintenant{
width: 100%;
height: 25%;
/* border: 2px solid wheat; */
display: flex;
justify-content: center; 
margin: 5px;

}
.maintenant_2{
width: 100%;
height: 33%;
/* border: 2px solid black; */
display: flex;
justify-content: center;
text-align: center;
margin: 5px;


}
.main_poste_main form{
width: 100%;
height: 100%
}



.maintenant_but a{
text-decoration: none;
color: white;
}
.maintenant_2 p {
font-size: 1.2rem;
text-align: center;

}
.maintenant_but{
/* border: 2px solid black; */
justify-content: center;
width: 100%;
/* height: 5%; */
display: flex;
justify-content: center;
padding: 10px;
margin: 5px;

}
.maintenant_but button{
height: 70%;
width: 40%;





}


/* Page_recherche*/

.main_rech{
    width: 100%;
    height: 500px;
    
}
.main_rech1{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: red solid; */
}

.main_rech1_titre1{
    width: 80%;
    /* border: blue solid; */
}
.main_rech1_btn_retour{
    width:30%;
    height: 60%;
    color: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
}
.main_rech1_btn_retour a{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid black;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    background-color: rgb(199, 45, 45);
}
.main_rech1_btn_retour a:hover{
    color: red;
    background-color: #fff;
}

.main_rech2{
    width: 100%;
    height: 80%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: orange; */
}
.main_rech2_min{
    width: 80%;
    height: 100%;
    /* border: solid red; */
}
.main_rech2_min1{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: solid green; */
}
.main_rech2_min1_container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: solid blue; */
    
}
.bg-color{
  background-color: #FFF2CC;
  border-radius: 14px;
  box-shadow: #707070 5px 5px 15px;
}
#cards{
  background-color: #FFF2CC !important;
  box-shadow: #707070 5px 5px 15px;
  border-radius: 12px;
}
.list-cards{
  border-radius: 7px;
}
.section-rech{
  background-color: #eeeeee;
}
.container_champ_rech{
    width: 100%;
    height: 30%;
    /* border: red solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.rech_champ1{
    width: 47%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    padding-right: 20px;
}

.rech_champ1_L1{
    height: 60%;
    width: 60%;
}

.rech_champ1_select{
    width: 100%;
    height: 100%;
}

.rech_bouton{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: red solid; */
   

}
.rech_bouton1{
width: 40%;
height: 50px;

display: flex;
flex-direction: row;
justify-content:space-between;
align-items:center;
}
.rech_bouton1_min1{
    width:35%;
    height: 100%;
    border:solid black;
    color: #ffff;
    background-color: rgb(199, 45, 45);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.rech_bouton1_min1:hover{
    background-color: #fff;
    color: red;
}
.rech_bouton1_min2{
    width:35%;
    height: 100%;
    border:solid black;
    background-color: rgb(34, 219, 34);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.rech_bouton1_min2:hover{
    background-color: #fff;
    color: green;
}
 
/* liste repetiteur */

.main.liste{
    width: 100%;
    height: 500px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main.liste1{
    width: 90%;
    height: 60px;
    
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:start;
}
.container.liste{
    width: 80%;
    height: 315px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container.list{
    width: 100%;
    height: 300px;
   
    background-color:rgb(245, 232, 208);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container.list.min{
    width: 90%;
    height: 73px;
    border: 2px solid rgb(245, 232, 208);
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    /* border: 2px solid black; */
}
.Tab tbody{
  background-color: #fff;
}
.tab-a {
  text-decoration: none;
  font-weight: bold;
  color: #707070;
  padding: 15px;
}
.first.min.list{
    width: 8%;
    height: 100%;
    border-radius: 100px;
    border: 2px solid black;
    background-color: rgb(169, 115, 95);
    
}
.two.min.list{
    width: 8%;
    height: 100%;
    border-radius: 100px;
    border: 2px solid black;
    background-color: rgb(169, 115, 95);
}
.three.min.list{
    width: 8%;
    height: 100%;
    border-radius: 100px;
    border: 2px solid black;
    background-color: rgb(169, 115, 95);
}
.dispo_repetiteur{
    background-color: rgb(117, 214, 117);
}
.btn_repetiteur{
    width: 12%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: solid black;
    background-color: rgb(57, 57, 154);
}
.btn_repetiteur a{
    color: #fff; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    /* border: solid red; */
    text-decoration: none;
}
.btn_repetiteur a:hover{
    background-color: #fff;
    color: blue;
}


.container.list.min2{
    width: 90%;
    height: 73px;
    border: 2px solid rgb(245, 232, 208);
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;  
}
.dispo_repetitor{
    background-color: red;
    color: #fff;
}

.rech_btn{
    width: 50%;
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid red;

}

/* button {
    font-size: 16px;
    color: #000;
    background-color:rgb(75, 75, 189);
    width:100% ;
   
  }
   */


  /* confirme recherche repetiteur disponible */

.rech_confime{
width: 100%;
height: 500px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.rech_confirme_min{
    width: 70%;
    height: 300px;
    background-color:rgb(224, 187, 119);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
} 
.rech_confirme_text{
    width: 80%;
    height: 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

/**************COMPTE REPETITEUR********************/


/**************COMPTE PERSONNEL EVEIL********************/