<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{url_for('static', filename='/img/logo_Eveil+.png')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
        <link rel="stylesheet" href="{{url_for('static', filename='/css/initialize.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
            
        <title>Eveil+</title>
    </head>
    <body class="body_page_connx">
        <section class="section_connexion_page">
            
            <main class="section_connexion_page_container">
                <div class="section_connexion_page_container1">
                    <img src="{{url_for('static', filename='/img/img_famille.jpg')}}" alt="enfant et femme">
                </div>
                <div class="section_connexion_page_container1">
                    {% with messages=get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{category}}" id="flash-message"> {{message}} </div>
                            {%endfor%}
                        {%endif%}
                    {% endwith %}
                    
                    <div class="form_titr_page_connex"><h2> Se connecter<h3></div>
                    <form action="{{url_for('success_connexion')}}" method="post">
                        <div class="connx_page_login1">
                            <input type="email" class="inp_page_connex" name="Email" placeholder="Votre mail">
                            <input type="password" class="inp_page_connex" name="mot_de_passe" placeholder="mot de passe">
                        </div>
                        <div class="page_conx_btn_valid">
                            <a href="/" class="btn btn-secondary py-2" style="background-color: #FF0000; border: none; width: 40%; font-size: 1.3em; font-weight: bold; text-align: center; text-decoration: none; display: inline-block;">
                                RETOUR
                            </a>
                            <input type="submit" value="VALIDER" class="btn btn-secondary py-2" style="background-color: #6ebca8; border:none; width: 40%; font-size:1.3em; font-weight: bold;">
                        </div>
                    </form><br>
                    <div class="connx_page_login2">
                        Pas de compte ?
                         <a href="/inscriptionParent" >Inscrivez vous ici</a><br><br>
                        Vous avez oublié votre mot de passe ?
                         <a href="/mot_de_passe_oublie" >Cliquez ici</a>  

                         <!-- Modal
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5 container" id="staticBackdropLabel">INSCRIPTION</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body container">
                                  <p> <i> Je m'inscris en tant que...</i></p>
                                </div>
                                <div class="modal-body">
                                    <div class="container row m-auto">
                                        <div class="col-md-6">
                                            <a href="/inscriptionParent" class="btn btn-success"> PARENT</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="/inscriptionRepetiteur" class="btn btn-warning"> REPETITEUR</a>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        -->
                         
                    </div>
                </div>
            </main>
        </section>

        <!-- Ajoutez le script JavaScript pour gérer la disparition du message -->
        <script>
            // Sélectionnez l'élément contenant le message flash
            const flashMessage = document.getElementById('flash-message');
            
            // Définissez un délai (en millisecondes) avant que le message ne disparaisse
            const delay = 5000; // 5 secondes
            
            // Utilisez setTimeout pour masquer le message après le délai
            setTimeout(function() {
                flashMessage.style.display = 'none';
            }, delay);
        </script>
        <script src="{{url_for('static', filename='/js/bootstrap.bundle.min.js')}}" ></script>
        <script src="{{url_for('static', filename='/js/index.js')}}" ></script>
    </body>
</html>
