{% extends "Partials/Base_index.html" %}
{% block body %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item carousel-image bg-img-1 active">
      <img src="{{url_for('static', filename='/img/outils-etude-enfant-studio.jpg')}}" height="750px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item carousel-image bg-img-2">
      <img src="{{url_for('static', filename='/img/fond-blanc-bras-absence-corporate-isolement.jpg')}}" height="750px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item carousel-image bg-img-3">
      <img src="{{url_for('static', filename='/img/groupe-etude-du-peuple-africain.jpg')}}" height="750px" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
  crossorigin="anonymous"></script>
     <section id="Services">    
      <div class="section2_index_min">
        <div class="section2_index_min_img">
          <img src="{{url_for('static', filename='/img/why.png')}}" alt="logo_eveilplus" class="logo">
        </div>
        <div class="section2_index_min_img">
          <div class="section2_index_min_img_1">
            <div class="section2_index_min_img_1_txt">
              <div>
                <h2>Trouvez le meilleur répétiteur</h2></div>
              <div><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                  nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                  en réprimandant en volupté
              </div>
            </div>
            <div class="section2_index_min_img_1_btn">
              <a href="/inscriptionParent">S'INSCRIRE</a>
                 <!-- Modal -->
                 <!--  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5 container" id="staticBackdropLabel">INSCRIPTION</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body container">
                        <p> <i> Je m'inscris en tant que...</i></p>
                      </div>
                      <div class="modal-body">
                          <div class="container row m-auto">
                              <div class="col-md-6">
                                  <a href="/inscriptionParent" class="btn btn-success"> PARENT</a>
                              </div>
                              <div class="col-md-6">
                                  <a href="/inscriptionRepetiteur" class="btn btn-warning"> REPETITEUR</a>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>-->

            </div>
          </div>
        </div>
      </div>
   </section>
   <section class="section2_index">
    <div class="section2_index_min">
      <div class="section2_index_min_img">
        <div class="section2_index_min_img_1">
          <div class="section2_index_min_img_1_txt">
            <div>
              <h2>Suivez l'evolution de votre enfant</h2></div>
            <div><br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                en réprimandant en volupté
            </div>
          </div>
          <div class="section2_index_min_img_1_btn1">
             <a href="/inscriptionParent">S'INSCRIRE</a>
          </div>
        </div>
      </div>
      <div class="section2_index_min_img">
        <img src="{{url_for('static', filename='/img/determine.png')}}" alt="logo_eveilplus" class="logo">
      </div>
    </div>
 </section>
 <section class="section2_index">
      
  <div class="section2_index_min">
    <div class="section2_index_min_img">
      <img src="{{url_for('static', filename='/img/about.png')}}" alt="logo_eveilplus" class="logo">
    </div>
    <div class="section2_index_min_img">
      <div class="section2_index_min_img_1">
        <div class="section2_index_min_img_1_txt">
          <div>
            <h2>Achetez vos fournitures en ligne</h2></div>
          <div><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
              en réprimandant en volupté
          </div>
        </div>
        <div class="section2_index_min_img_1_btn">
          <a href="#">ACHETER</a>
        </div>
      </div>
    </div>
  </div>
  </section>
{% endblock %}