<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='/img/logo_Eveil+.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/initialize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
        
    <title>Eveil+</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#"><img src="{{url_for('static', filename='/img/logo_Eveil+.png')}}" alt="logo_eveilplus" class="logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link px-5 active" aria-current="page" href="/index">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-5" href="#Services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-5" href="#Apropos">A propos</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link px-3 border rounded dropdown" href="/connexion" id="navbarDropdown" role="button" aria-expanded="false">
                 Se connecter
                </a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
   <section class="section1_index"> <img src="{{url_for('static', filename='/img/i.jpg')}}" alt="image_eveil_enfant" class="logo"></section>
   <section id="Services">
      
      <div class="section2_index_min">
        <div class="section2_index_min_img">
          <img src="{{url_for('static', filename='/img/why.png')}}" alt="logo_eveilplus" class="logo">
        </div>
        <div class="section2_index_min_img">
          <div class="section2_index_min_img_1">
            <div class="section2_index_min_img_1_txt">
              <div>
                <h2>Trouvez le meilleur répétiteur</h2></div>
              <div><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                  nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                  en réprimandant en volupté
              </div>
            </div>
            <div class="section2_index_min_img_1_btn"><a href="">S'INSCRIRE</a></div>
          </div>
        </div>
      </div>
   </section>
   <section class="section2_index">
      
    <div class="section2_index_min">
      <div class="section2_index_min_img">
        <div class="section2_index_min_img_1">
          <div class="section2_index_min_img_1_txt">
            <div>
              <h2>Suivez l'evolution de votre enfant</h2></div>
            <div><br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                en réprimandant en volupté
            </div>
          </div>
          <div class="section2_index_min_img_1_btn1"><a href="">S'INSCRIRE</a></div>
        </div>
      </div>
      <div class="section2_index_min_img">
        <img src="{{url_for('static', filename='/img/determine.png')}}" alt="logo_eveilplus" class="logo">
      </div>
    </div>
 </section>
 <section class="section2_index">
      
  <div class="section2_index_min">
    <div class="section2_index_min_img">
      <img src="{{url_for('static', filename='/img/about.png')}}" alt="logo_eveilplus" class="logo">
    </div>
    <div class="section2_index_min_img">
      <div class="section2_index_min_img_1">
        <div class="section2_index_min_img_1_txt">
          <div>
            <h2>Achetez vos fournitures en ligne</h2></div>
          <div><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
              en réprimandant en volupté
          </div>
        </div>
        <div class="section2_index_min_img_1_btn"><a href="">S'INSCRIRE</a></div>
      </div>
    </div>
  </div>
</section>
<footer id="Apropos">
  <div class="footer_main_index">
    <div class="footer_main_index1">
      <div class="footer_main_index1_titr1"> 
        <h4>A propos de nous</h4>
      </div>
      <div class="footer_main_index1_txt">
        douleur assis amet, consectetur magna aliqua. 
        Ut enim ad minim veniam, quisdotempor incididunt r
      </div>
    </div>
    <div class="footer_main_index1">
      <div class="footer_main_index1_titr1"> 
        <h4>Lien Utile</h4>
      </div>
      <div class="footer_main_index1_txt">
        <div><a href="#">Facebook</a></div>
        <div><a href="#">Linkedln</a></div>
        <div><a href="#">Instagram</a></div>
        <div><a href="#"><a href="#">twitter</a></a></div>
      </div>
    </div>
    <div class="footer_main_index1">
      <div class="footer_main_index1_titr1"> 
        <h4>Contactez nous</h4>
      </div>
      <div class="footer_main_index1_txt">
        douleur assis amet, consectetur magna aliqua. 
        Ut enim ad minim veniam, quisdotempor incididunt r
      </div>
    </div>
    <div class="footer_main_index1">
      <div class="footer_main_index1_titr1"> 
        <h4>Newletters</h4>
      </div>
      <div class="footer_main_index1_txt_news">
        <form  class="footer_form_index"action ="#" methode="#">
          <input  class="footer_input_index" type="mail" name="#" placeholder="Entrez votre addresse mail">
          <input class="footer_input_btn" type="submit" value="S'ABONNER">
        </form>
      </div>
    </div>
  </div>
</footer>
      


      <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->

    
    <script src="{{url_for('static', filename='/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='/js/index.js')}}"></script>
    <!-- <script src="js/bootstrap.min.js"></script> -->
</body>
</html>