<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{url_for('static', filename='/img/logo_Eveil+.png')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
        <link rel="stylesheet" href="{{url_for('static', filename='/css/initialize.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
            
        <title>Eveil+</title>
    </head>
    <body class="body_page_connx">
        <section class="section_connexion_page">
            <main class="section_inscriptionParent_page_container">
                <div class="section_inscriptionParent_container1">
                    <div class="form_titr_inscriptionParent"><h2> Inscription Parent d'élève<h3></div>
                    <form action="#" methode="#">
                        <div class="inscriptionParent_login1">
                            <input type="text"  name="nom" placeholder="Votre Nom">
                            <input type="text"  name="prenom" placeholder="Votre Prenom">
                        </div>
                        <div class="inscriptionParent_login1">
                            <input type="text"  name="habitataion" placeholder="Votre lieu d'habitation Ex: Cocody\2 plateau">
                            <input type="email"  name="mail" placeholder="Votre email">
                         </div>
                         <div class="inscriptionParent_login1">
                            <input type="text"  name="numero_tel" placeholder="Votre numéro de téléphone 1">
                            <input type="text"  name="numero_tel" placeholder="Votre numéro de téléphone 2">
                         </div>
                         <div class="inscriptionParent_login1">
                            <input type="password" name="mot de passe" placeholder="Mot de passe">
                            <input type="password" name="confirm_password" placeholder="Confirmer votre mot de passe">
                         </div>
                         <div class="inscriptionParent_login1">
                            <div class="btn_form_inscriptionParent"><a href="/accueil_parent">VALIDER</a></div>
                            <!--<input type="submit" value="CONNEXION" class="btn_form_page_connex">-->
                         </div>
                    </form>
                    <div class="inscriptionParent_login2">
                        Déja un compte ? <a href="/connexion"> Connecter vous ici</a>
                    </div>
                </div>
            </main>
        </section>
        <script src="{{url_for('static', filename='/js/bootstrap.bundle.min.js')}}" ></script>
        <script src="{{url_for('static', filename='/js/index.js')}}" ></script>
    </body>
</html>
