<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{url_for('static', filename='/img/logo_Eveil+.png')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
        <link rel="stylesheet" href="{{url_for('static', filename='/css/initialize.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">   
        <title>Eveil+</title>
        <script>
            function checkPassword() {
                var password = document.getElementById("mot_de_passe").value;
                var confirmPassword = document.getElementById("confirm_mot_de_passe").value;
    
                if (password !== confirmPassword) {
                    document.getElementById("password-error").innerHTML = "Les mots de passe ne correspondent pas";
                    document.getElementById("submit-button").disabled = true;
                } else {
                    document.getElementById("password-error").innerHTML = "";
                    document.getElementById("submit-button").disabled = false;
                }
            }
        </script>
    </head>
    <body class="body_page_connx">
        <section class="section_connexion_page">
            
            <main class="section_inscriptionParent_page_container">
                <div class="section_inscriptionParent_container1 py-3">

                    {% with messages=get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{category}}" id="flash-message"> {{message}} </div>
                            {%endfor%}
                        {%endif%}
                    {% endwith %} 
                    <div class="form_titr_inscriptionParent"><h2>Inscription du personnel Eveil+<h3></div>
                    <form action="{{url_for('Succes_inscriptionPerso')}}" method="post">
                        <div class="inscriptionParent_login1">
                            <input type="text" class="input" name="NomPersoEveil" placeholder="Votre Nom">
                            <input type="text" class="input" name="PrenomPersoEveil" placeholder="Votre Prenom">
                        </div>
                        <div class="inscriptionParent_login1">
                            <select class="form-control input" name="Adresse" list="1" id="habitation" required>
                                
                                <option>--Votre lieu d'habitation--</option>                                
                                <option value="Adzopé">Adzopé</option>
                                <option value="Adiaké">Adiaké</option>
                                <option value="Agboville">Agboville</option>
                                <option value="Agnibilékrou">Agnibilékrou</option>
                                <option value="Agnié">Agnié</option>
                                <option value="Abobo">Abobo</option>
                                <option value="Adjamé">Adjamé</option>
                                <option value="Anyama">Anyama</option>
                                <option value="Attécoubé">Attécoubé</option>
                                <option value="Bangolo">Bangolo</option>
                                <option value="Bingerville">Bingerville</option>
                                <option value="Bondoukou">Bondoukou</option>
                                <option value="Bouaké">Bouaké</option>
                                <option value="Bouaflé">Bouaflé</option>
                                <option value="Bouna">Bouna</option>
                                <option value="Cocody">Cocody</option>
                                <option value="Dabakala">Dabakala</option>
                                <option value="Dabou">Dabou</option>
                                <option value="Daloa">Daloa</option>
                                <option value="Didiévi">Didiévi</option>
                                <option value="Divo">Divo</option>
                                <option value="Ferkessédougou">Ferkessédougou</option>
                                <option value="Gagnoa">Gagnoa</option>
                                <option value="Guibéroua">Guibéroua</option>
                                <option value="Issia">Issia</option>
                                <option value="Jacqueville">Jacqueville</option>
                                <option value="Korhogo">Korhogo</option>
                                <option value="Konongoro">Konongoro</option>
                                <option value="Lakota">Lakota</option>
                                <option value="Madinani">Madinani</option>
                                <option value="Man">Man</option>
                                <option value="Mankono">Mankono</option>
                                <option value="Mamou-Kouparou">Mamou-Kouparou</option>
                                <option value="Oumé">Oumé</option>
                                <option value="Oumé-Gnanhoué">Oumé-Gnanhoué</option>
                                <option value="Sakassou">Sakassou</option>
                                <option value="San-Pédro">San-Pédro</option>
                                <option value="Sassandra">Sassandra</option>
                                <option value="Séguéla">Séguéla</option>
                                <option value="Tiassalé">Tiassalé</option>
                                <option value="Tanda">Tanda</option>
                                <option value="Yamoussoukro">Yamoussoukro</option>
                            </select>
                            <input type="text" class="input" name="Telephone" placeholder="Votre numéro de téléphone 1">
                        </div>
                        <div class="inscriptionParent_login1">
                            <input type="email" class="input" name="Email" placeholder="Votre email">
                            <input type="hidden" name="Roles" value="Admin">
                        </div>
                        <div class="inscriptionParent_login1">
                            <input type="password" class="input" name="mot_de_passe" placeholder="Mot de passe" id="mot_de_passe" oninput="checkPassword()">
                            <input type="password" class="input" name="confirm_mot_de_passe" placeholder="Confirmer votre mot de passe" id="confirm_mot_de_passe" oninput="checkPassword()">
                         </div>
                         <p id="password-error" style="color: red;"></p>
                        <input type="submit" value="VALIDER" id="submit-button" class="btn btn-secondary py-2" style="background-color: #6ebca8; border:none; width: 20%; font-size:1.3em; font-weight: bold;">

                    </form>
                    <div class="inscriptionParent_login2">
                        Déja un compte ? <a href="/connexion"> Connecter vous ici</a>
                    </div>
                    

                    
                    <script>
                        // Sélectionnez l'élément contenant le message flash
                        const flashMessage = document.getElementById('flash-message');
                        
                        // Définissez un délai (en millisecondes) avant que le message ne disparaisse
                        const delay = 5000; // 5 secondes
                        
                        // Utilisez setTimeout pour masquer le message après le délai
                        setTimeout(function() {
                            flashMessage.style.display = 'none';
                        }, delay);
                    </script>
                </div>
            </main>
        </section>

        
        <script src="{{url_for('static', filename='/js/bootstrap.bundle.min.js')}}" ></script>
        <script src="{{url_for('static', filename='/js/index.js')}}" ></script>
    </body>
</html>
