<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{url_for('static', filename='/img/logo_Eveil+.png')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
        <link rel="stylesheet" href="{{url_for('static', filename='/css/initialize.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
            
        <title>Eveil+</title>
    </head>
    <body class="body_page_connx">
        <section class="section_connexion_page">
            
            <main class="section_inscriptionParent_page_container">
                <div class="section_inscriptionParent_container1">
                    <!-- {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}" id="flash-message"> {{message}} </div>
                {%endfor%}
            {%endif%}
        {% endwith %} -->
                    <div class="form_titr_inscriptionParent"><h2> Inscription Parent d'élève<h3></div>
                    <form action="{{url_for('Succes_inscription_parent')}}" method="post">
                        <div class="inscriptionParent_login1">
                            <input type="text"  name="NomParent" placeholder="Votre Nom">
                            <input type="text"  name="PrenomParent" placeholder="Votre Prenom">
                        </div>
                        <div class="inscriptionParent_login1">
                            <input type="email"  name="Email" placeholder="Votre email">
                            <input type="text"  name="LieuHabitation" placeholder="Votre lieu d'habitation Ex: Cocody\2 plateau">
                        </div>
                        <div class="inscriptionParent_login1">
                            <input type="text"  name="TelephoneParent1" placeholder="Votre numéro de téléphone 1">
                            <input type="text"  name="TelephonePparent2" placeholder="Votre numéro de téléphone 2">
                        </div>
                        <div class="inscriptionParent_login1">
                            <input type="password" name="mot_de_passe" placeholder="Mot de passe">
                            <input type="password" name="confirm_mot_de_passe" placeholder="Confirmer votre mot de passe">
                            <input type="hidden" name="Roles" value="Parent">
                        </div>
                        <input type="submit" value="VALIDER" class="btn btn-secondary w-100" style="background-color: #6ebca8; border:none;">

                    </form>
                    <div class="inscriptionParent_login2">
                        Déja un compte ? <a href="/connexion"> Connecter vous ici</a>
                    </div>
                </div>
            </main>
        </section>

        <!-- Ajoutez le script JavaScript pour gérer la disparition du message -->
        <!-- <script>
            // Sélectionnez l'élément contenant le message flash
            const flashMessage = document.getElementById('flash-message');
            
            // Définissez un délai (en millisecondes) avant que le message ne disparaisse
            const delay = 3000; // 3 secondes
            
            // Utilisez setTimeout pour masquer le message après le délai
            setTimeout(function() {
                flashMessage.style.display = 'none';
            }, delay);
        </script> -->
        <script src="{{url_for('static', filename='/js/bootstrap.bundle.min.js')}}" ></script>
        <script src="{{url_for('static', filename='/js/index.js')}}" ></script>
    </body>
</html>
