{% extends "Partials/Base_parent.html" %}
{% block body %}
<section class="my-5 py-5 section-rech">
  <div class="container colunm">
    
    <div class="main_rech1_titre1 mb-4">
      <h2>Publier mon offres</h2>
    </div>
    <div class="">
      {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}}" id="flash-message"> {{message}} </div>
            {%endfor%}
        {%endif%}
    {% endwith %} 
      <form action="{{ url_for('recapitulatif') }}" method="POST">
        <div class="row col-md-8 px-2 m-auto bg-color">
          <div class="col-md-12 p-2">
            <div class="row mb-4">
              <div class="col-md-8">
                <label class="form-label">Je recherche un répétiteur qualifié, disponible pouvant enseigner</label>
              </div>
              <div class="col-md-2">
                <select class="form-select" id="Seance" aria-label="Default select example" name="enfant">
                    <option value="{{data_recap['enfant']}}">{{data_recap['enfant']}}</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>

              </div>
              <div class="col-md-1">
                <label class="form-label">enfant(s)</label>
              </div>
              <div class="row mt-3">
                <div class="col-md-2">
                  <select class="form-select" aria-label="Default select example" name="seance">
                    <option value="{{data_recap['seance']}}">{{data_recap['seance']}}</option>
                    
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label class="form-label">fois par semaine à</label>
                </div>
                <div class="col-md-6">
                  <input class="form-control" list="datalist" id="habitation"
                    placeholder="Selectionnez le lieu d'habitation..." value="{{data_recap['habitation']}}" name="habitation">
                  <datalist id="datalist">
                    {% for lieu in lieu_repetiteur %}
                    <option value="{{ lieu[0] }}">
                      {{ lieu[0]}}
                    </option>
                    {% endfor %}
                  </datalist>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label class="form-label">Niveau:</label>
              </div>
              <div class="col-md-9">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox"
                  value="{{data_recap['niveau']}}" name="niveau[]" checked>
                <label class="form-check-label" for="inlineCheckbox">{{data_recap['niveau']}}</label>
                
                {% for niveau in niveauEtudiant %}
                <input class="form-check-input" type="checkbox" id="inlineCheckbox{{ loop.index }}"
                  value="{{ niveau[1] }}" name="niveau[]">
                <label class="form-check-label" for="inlineCheckbox{{ loop.index }}">{{ niveau[1] }}</label>
                {% endfor %}

              </div>
            </div>

            <div class="row mb-4">
              <div class="col-md-3">
                <label for="Date" class="form-label">Date limite:</label>
              </div>
              <div class="col-md-7">
                <input type="date" class="form-control" value="{{data_recap['date_limite']}}" id="Date" name="date_limite">
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
                <label class="form-label">Classe:</label>
              </div>
              <div class="col-md-9 mb-3">
                <fieldset class="table-responsive border rounded px-4" style="height: 70px; background-color: #f0f0f0; ">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Classe[]" value="{{data_recap['Classe']}}" id="Classe" checked>
                      <label class="form-check-label" for="Classe">
                        {{data_recap['Classe']}}
                      </label>
                  </div>
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="Classe[]" value="Primaire" id="ClassePrimaire">
                          <label class="form-check-label" for="ClassePrimaire">
                            Primaire
                          </label>
                      </div>
                  
                  <legend> <small>College:</small> </legend>
                  {% for ClasseCollege in ClasseCollege %}
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="Classe[]" value="{{ ClasseCollege[1] }}" id="ClasseCollege{{ loop.index }}">
                      <label class="form-check-label" for="ClasseCollege{{ loop.index }}">
                          {{ ClasseCollege[1] }}
                      </label>
                  </div>
              {% endfor %}
              <legend> <small>Lycée:</small> </legend>
                  {% for ClasseLycee in ClasseLycee %}
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="Classe[]" value="{{ ClasseLycee[1] }}" id="ClasseLycee{{ loop.index }}">
                      <label class="form-check-label" for="ClasseLycee{{ loop.index }}">
                          {{ ClasseLycee[1] }}
                      </label>
                  </div>
              {% endfor %}
              </fieldset>

              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
                <label class="form-label">Matière:</label>
              </div>
              <div class="col-md-9 mb-3">
                <fieldset class="table-responsive border rounded px-4" style="height: 70px; background-color: #f0f0f0; ">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Matiere[]" value="{{data_recap['Matiere']}}" id="Matiere" checked>
                    <label class="form-check-label" for="Matiere">
                      {{data_recap['Matiere']}}
                    </label>
                </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Matiere[]" value="Toutes Matieres du Primaire" id="MatierePrimaire">
                    <label class="form-check-label" for="MatierePrimaire">
                      Toutes Matieres du Primaire
                    </label>
                </div>
                  <legend> <small>Sciences:</small> </legend>
                  {% for MatiereSciences in MatiereSciences %}
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="Matiere[]" value="{{ MatiereSciences[1] }}" id="MatiereSciences{{ loop.index }}">
                          <label class="form-check-label" for="MatiereSciences{{ loop.index }}">
                              {{ MatiereSciences[1] }}
                          </label>
                      </div>
                  {% endfor %}
                  <legend> <small>Litteraire:</small> </legend>
                  {% for MatiereLitteraire in MatiereLitteraire %}
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="Matiere[]" value="{{ MatiereLitteraire[1] }}" id="MatiereLitteraire{{ loop.index }}">
                          <label class="form-check-label" for="MatiereLitteraire{{ loop.index }}">
                              {{ MatiereLitteraire[1] }}
                          </label>
                      </div>
                  {% endfor %}
              </fieldset>

              </div>
            </div>
          </div>

        </div>
        <div class="row col-5 mt-4 m-auto">
          <div class="col-md-6 mb-sm-4">
            <button class="btn btn-danger" type="reset">ANNULER</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-success" type="submit">POSTER</button>
          </div>
        </div>
      </form>

    </div>
  </div>

  
</section>
<!-- Ajoutez le script JavaScript pour gérer la disparition du message -->
<script>
  // Sélectionnez l'élément contenant le message flash
  const flashMessage = document.getElementById('flash-message');
  
  // Définissez un délai (en millisecondes) avant que le message ne disparaisse
  const delay = 7000; // 7 secondes
  
  // Utilisez setTimeout pour masquer le message après le délai
  setTimeout(function() {
      flashMessage.style.display = 'none';
  }, delay);
</script> 


{% endblock %}