{% extends "Partials/Base_parent.html" %}
{% block body %}
<section class="my-5 py-5 section-rech">
  <div class="container colunm">
    <div class="main_rech1_titre1 mb-4">
      <h2>Publier mon offres</h2>
    </div>
        {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}" id="flash-message"> {{message}} </div>
                {%endfor%}
            {%endif%}
        {% endwith %}
    <div class="">
      <form action="{{ url_for('recapitulatif') }}" method="POST">
        <div class="row col-md-8 px-2 m-auto bg-color">
          <div class="col-md-12 p-2">
            <div class="row mb-4">
              <div class="col-md-8">
                <label class="form-label">Je recherche un répétiteur qualifié, disponible pouvant enseigner</label>
              </div>
              <div class="col-md-2">
                <select class="form-select" id="Seance" aria-label="Default select example" name="enfant">
                  <option selected>0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>

              </div>
              <div class="col-md-1">
                <label class="form-label">enfant(s)</label>
              </div>
              <div class="row mt-3">
                <div class="col-md-2">
                  <select class="form-select" aria-label="Default select example" name="seance">
                    <option selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label class="form-label">fois par semaine à</label>
                </div>
                <div class="col-md-6">
                    <select class="form-control" name="habitation" list="1" id="habitation">
                                <option value="#">Selectionnez le lieu d'habitation...</option>
                                <option value="Adzopé">Adzopé</option>
                                <option value="Adiaké">Adiaké</option>
                                <option value="Agboville">Agboville</option>
                                <option value="Agnibilékrou">Agnibilékrou</option>
                                <option value="Agnié">Agnié</option>
                                <option value="Abobo">Abobo</option>
                                <option value="Adjamé">Adjamé</option>
                                <option value="Anyama">Anyama</option>
                                <option value="Attécoubé">Attécoubé</option>
                                <option value="Bangolo">Bangolo</option>
                                <option value="Bingerville">Bingerville</option>
                                <option value="Bondoukou">Bondoukou</option>
                                <option value="Bouaké">Bouaké</option>
                                <option value="Bouaflé">Bouaflé</option>
                                <option value="Bouna">Bouna</option>
                                <option value="Cocody">Cocody</option>
                                <option value="Dabakala">Dabakala</option>
                                <option value="Dabou">Dabou</option>
                                <option value="Daloa">Daloa</option>
                                <option value="Didiévi">Didiévi</option>
                                <option value="Divo">Divo</option>
                                <option value="Ferkessédougou">Ferkessédougou</option>
                                <option value="Gagnoa">Gagnoa</option>
                                <option value="Guibéroua">Guibéroua</option>
                                <option value="Issia">Issia</option>
                                <option value="Jacqueville">Jacqueville</option>
                                <option value="Korhogo">Korhogo</option>
                                <option value="Konongoro">Konongoro</option>
                                <option value="Lakota">Lakota</option>
                                <option value="Madinani">Madinani</option>
                                <option value="Man">Man</option>
                                <option value="Mankono">Mankono</option>
                                <option value="Mamou-Kouparou">Mamou-Kouparou</option>
                                <option value="Oumé">Oumé</option>
                                <option value="Oumé-Gnanhoué">Oumé-Gnanhoué</option>
                                <option value="Sakassou">Sakassou</option>
                                <option value="San-Pédro">San-Pédro</option>
                                <option value="Sassandra">Sassandra</option>
                                <option value="Séguéla">Séguéla</option>
                                <option value="Tiassalé">Tiassalé</option>
                                <option value="Tanda">Tanda</option>
                                <option value="Yamoussoukro">Yamoussoukro</option>               
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label class="form-label">Niveau:</label>
              </div>
              <div class="col-md-9">
                {% for niveau in niveauEtudiant %}
                <input class="form-check-input" type="checkbox" id="inlineCheckbox{{ loop.index }}"
                  value="{{ niveau[1] }}" name="niveau[]">
                <label class="form-check-label" for="inlineCheckbox{{ loop.index }}">{{ niveau[1] }}</label>
                {% endfor %}

              </div>
            </div>

            <div class="row mb-4">
              <div class="col-md-3">
                <label for="Date" class="form-label">Date limite:</label>
              </div>
              <div class="col-md-7">
                <input type="date" class="form-control" id="Date" name="date_limite">
              </div>
            </div>
          </div>

        </div>
        <div class="row col-5 mt-4 m-auto">
          <div class="col-md-6 mb-sm-4">
            <button class="btn btn-danger" type="reset">ANNULER</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-success" type="submit">POSTER</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</section>

    <!-- Ajoutez le script JavaScript pour gérer la disparition du message -->
    <script>
        // Sélectionnez l'élément contenant le message flash
        const flashMessage = document.getElementById('flash-message');
        
        // Définissez un délai (en millisecondes) avant que le message ne disparaisse
        const delay = 3000; // 3 secondes
        
        // Utilisez setTimeout pour masquer le message après le délai
        setTimeout(function() {
            flashMessage.style.display = 'none';
        }, delay);
    </script>

{% endblock %}