{% extends "Partials/Base_parent.html" %}
{% block body %}

<section class="conteneur1_poste">
    <div class="poste2">
        <div class="titre"> <h1><u>Historique des postes</u></h1></div>
        <div class="main_poste_main">
            <div class="note_poste_main">
             
    
              <div class="maintenant">
                <h2>Aucun poste</h2>
              </div>
              <div class="maintenant_2">
                <p>Votre historique de poste est vide cliquez sur le bouton <br>
                  ci-dessous pour poster </p>
              </div>
              <div class="maintenant_but">
              <a href="{{ url_for('poste') }} " class="btn btn-success">Poster maintenant</a>
              </div>
            
             
            </div>
        </div>
    </div>
   
  </section>


{% endblock %}
