{% extends "Partials/Base_parent.html" %}
{% block body %}
<section class="my-5 py-5 section-rech">
  <div class="container colunm">
    <div class="main_rech1_titre1 mb-4">
      <h2>Publier mon offres</h2>
    </div>
    <div class="">
      <form action="{{ url_for('recapitulatif') }}" method="">
        <div class="row col-md-8 px-2 m-auto bg-color">
          <div class="col-md-12 p-2">
            <div class="row mb-4">
              <div class="col-md-8">
                <label class="form-label">Je recherche un répétiteur qualifié, disponible pouvant enseigner</label>
              </div>
              <div class="col-md-2">
                <select class="form-select" id="Seance" aria-label="Default select example">
                  <option selected>0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="1">4</option>
                  <option value="2">5</option>
                  <option value="3">6</option>
                  <option value="3">7</option>
                  <option value="1">8</option>
                  <option value="2">9</option>
                  <option value="3">10</option>
                </select>

              </div>
              <div class="col-md-1">
                <label class="form-label">enfant(s)</label>
              </div>
              <div class="row mt-3">
                <div class="col-md-2">
                  <select class="form-select" aria-label="Default select example">
                    <option selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label class="form-label">fois par semaine à</label>
                </div>
                <div class="col-md-6">
                  <input class="form-control" list="datalist" id="habitation"
                    placeholder="Selectionnez le lieu d'habitation...">
                  <datalist id="datalist">
                    {% for lieu in lieu_repetiteur %}
                    <option value="{{ lieu[0] }}">
                      {{ lieu[0]}}
                    </option>
                    {% endfor %}
                  </datalist>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label class="form-label">Niveau:</label>
              </div>
              <div class="col-md-9">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="{{niveauEtudiant[0][1]}}">
                  <label class="form-check-label" for="inlineCheckbox1">{{niveauEtudiant[0][1]}}</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="{{niveauEtudiant[1][1]}}">
                  <label class="form-check-label" for="inlineCheckbox2">{{niveauEtudiant[1][1]}}</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="{{niveauEtudiant[2][1]}}">
                  <label class="form-check-label" for="inlineCheckbox3">{{niveauEtudiant[2][1]}}</label>
                </div>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col-md-3">
                <label for="Date" class="form-label">Date limite:</label>
              </div>
              <div class="col-md-7">
                <input type="date" class="form-control" id="Date">
              </div>
            </div>
          </div>

        </div>
        <div class="row col-5 mt-4 m-auto">
          <div class="col-md-6 mb-sm-4">
            <button class="btn btn-danger" type="reset">ANNULER</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-success" type="submit">RECHERCHER</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</section>



{% endblock %}