{% extends "Partials/Base_parent.html" %}
{% block body %}



<section class="my-5 py-5 section-rech">
  <div class="container colunm">
    <div class="main_rech1_titre1 mb-4">
      <h2>Récapitulatif</h2>
    </div>
    <div class="">
      <form action="{{ url_for('historique_des_postes') }}" method="">
        <div class="row bg-color">
          <div class="form_poste">
            <div class="rep_post1">
              <p>Je recherche un répétiteur qualifié disponible pouvant enseigner <b>{{data_recap["enfant"]}} </b>
                enfant(s), <b>{{data_recap["seance"]}}</b> fois par semaine
                <b>{{data_recap["habitation"]}}</b>
              </p>
            </div>
            <div class="rep_post2">
              <P>Niveau enfant : <b>{{data_recap["niveau"]}}</b></P>
            </div>
            <div class="rep_post3">
              <p>Date limite : <b>{{data_recap["date_limite"]}}</b></p>
            </div>
          </div>
        </div>
        <div class="row col-5 mt-4 m-auto">
          <div class="col-md-6 mb-sm-4">
            <a href="{{ url_for('poste') }}" class="btn btn-warning text-white">MODIFIER</a>
          </div>
          <div class="col-md-6">
            <button class="btn btn-success" type="submit">VALIDER</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</section>


{% endblock %}