
{% extends "Partials/Base_parent.html" %}
{% block body %}

<section class="conteneur1_poste">
    <div class="poste2">
        <div class="titre"> <h1><u>Récapitulatif</u></h1></div>
        <div class="main_poste">
            <div class="note_poste">
             
             <form action="">
              <div class="form_poste">
                <div class="rep_post1"><p>Je recherche un répétiteur qualifié disponible pouvant enseigner   <span>(nmbr)</span> enfant(s), <span>(nmbr)</span> fois par semaine  <span>(lieu d'habitation)</span> </p></div>
                <div  class="rep_post2"><P>Niveau enfant  :  <span>( primaire , Collège , lycée)</span></P></div>
                <div class="rep_post3"><p>Date limite :  <span>( 00 / 00 /0000) </span></p></div>
                
              </div>
              <div class="but_poste">
                <button type="button" class="btn btn-danger" ><a  href="{{ url_for('poste') }}">ANNULER</a>
                      
                </button>   
                <button class="btn btn-success" type="button"><a href="{{ url_for('historique_des_postes') }}">VALIDER</a></button>
              </div>
             </form>
             
            </div>
        </div>
    </div>  
   
  </section>


  

{% endblock %}