{% extends "Partials/Base_parent.html" %} {% block body %}

<main class="main-search my-5 py-5">
  <!-- <section class="header-table-search">
        <div class="items-controller-search">
          <h5>Show</h5>
          <select name="" id="itemperpage">
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="08" selected>08</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
          <h5>Per Page</h5>
        </div>
        <div class="search-search">
          <h5>Search</h5>
          <input type="text" name="" id="search" placeholder="search" />
        </div>
      </section> -->
  <div class="mb-4 row container-fluid">
    {% with messages=get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{category}}" id="flash-message"> {{message}} </div>
                            {%endfor%}
                        {%endif%}
                    {% endwith %}
    <div class="col-md-11 col-sm-10"><h2>Liste des répétiteurs</h2></div>
    <div class="col-md-1 col-sm-2">
      <a href="/recherche" class="btn btn-danger">RETOUR</a>
    </div>
  </div>
  <section class="field-search container-fluid" id="itemperpage">
    <table>
      <thead class="">
        <tr>
          <!-- <th><input type="checkbox" name="" id="selectAll"></th> -->
          <!-- <th>S.N</th> -->
          <th>Name</th>
          <th>Note</th>
          <!-- <th>Position</th> -->
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- * test -->

        {% for repetiteur in repetiteurs %}
        <tr>
          <td>
            <a href="" class="tab-a">
              <img
                src="{{url_for('static', filename='/img/user_img/bruce_yapo.jpg')}}"
                style="border-radius: 45px"
                class="img-thumbnail"
                width="45px"
                alt=""
              />
              {{repetiteur.PrenomRepetiteur }} {{repetiteur.NomRepetiteur }}
            </a>
          </td>
          <td>10/10</td>
          <td>
            {% if etat_repetiteur %} 
                <span class="btn btn-success">Disponible</span>
            {% else %} 
                <span class="btn btn-danger">Indisponible</span>
            {% endif %}
          </td>
          <td>
            <!-- Button trigger modal -->
            <button class="btn btn-primary choose-btn" data-repetiteur-id="{{ repetiteur.IdRepetiteur }}">Choisir</button>

            <!-- <a href="/liste_repetiteurchoix" class="btn btn-primary">Choisir</a> -->
           
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
    <div class="bottom-field-search">
      <ul class="pagination-search">
        <li class="prev"><a href="#" id="prev">&#139;</a></li>

        <!-- page number here -->
        <li class="next"><a href="#" id="next">&#155;</a></li>
      </ul>
    </div>
  </section>
</main>

<!-- Ajoutez le script JavaScript pour gérer la disparition du message -->
<script>
  // Sélectionnez l'élément contenant le message flash
  const flashMessage = document.getElementById('flash-message');
  
  // Définissez un délai (en millisecondes) avant que le message ne disparaisse
  const delay = 5000; // 5 secondes
  
  // Utilisez setTimeout pour masquer le message après le délai
  setTimeout(function() {
      flashMessage.style.display = 'none';
  }, delay);
</script>

 
{% endblock %}
 