{% extends "Partials/Base_parent.html" %}
{% block body %}
                
    <section class="main_rech">
        <section class="my-5 py-5 section-rech">
            <div class="container colunm">
                <div class="mb-4 row container-fluid">
                    <div class="col-md-11 col-sm-10"><h2>Profil Repetiteur</h2></div>
                    <div class="col-md-1 col-sm-2"><a href="/recherche" class="btn btn-danger">RETOUR</a></div>
                </div>  
                <!-- <button class="btn btn-danger" type="reset">ANNULER</button>     -->
                
            </div>
        </section>
    </section>
{% endblock %}
